<div class='row'>
  <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
    <%= simple_form_for @bait_loading,
      wrapper: :vertical_form,
      html: {
        role: :form,
        class: 'form form-vertical'
      } do |f| %>

      <% if @vessel.present? %>
      	<div class="form-group string optional bait_loading_vessel_id">
          <label for="bait_loading_vessel" class="string optional control-label col-sm-3"><%= BaitLoading.human_attribute_name(:vessel) %></label>
          <div class="col-sm-9">
              <h5><%= @vessel.name %> <i><small>(<%= @vessel.ap2hi_ref %>)</small></i><h5>
              <%= f.input :vessel_id, as: :hidden %>
          </div>
        </div>

      <% elsif @company.present? %>
        <%= f.association :vessel, collection: @company.vessels, prompt: BaitLoading.human_attribute_name(:vessel), label_method: :ap2hi_ref, value_method: :id, input_html: {class: 'select2-select'} %>
      <% else %>
      	<%= f.association :vessel, collection: @vessels, prompt: BaitLoading.human_attribute_name(:vessel), label_method: :ap2hi_ref, value_method: :id, input_html: {class: 'select2-select'} %>
      <% end %>

      <%= f.input :formatted_date, input_html: { class: 'datepicker form-control' } %>


      <%= f.association :bait, collection: Bait.all, prompt: BaitLoading.human_attribute_name(:select_fish), label_method: :code, value_method: :id, input_html: { class: 'select2-select' } %>

      <%= f.association :secondary_bait, collection: Bait.all, prompt: BaitLoading.human_attribute_name(:select_secondary_fish), label_method: :code, value_method: :id, input_html: { class: 'select2-select' } %>

      <%= f.input :quantity, placeholder: BaitLoading.human_attribute_name(:quantity) %>

      <%= f.input :method_types, wrapper_html: { class: 'select' } do %>
        <%= f.select :method_type, BaitLoading::METHOD_TYPES.map { |s| [I18n.t("method_types.#{s}"), s] }, {prompt: BaitLoading.human_attribute_name(:select_method)}, { class: 'form-control select2-select' } %>
      <% end %>

      <%= f.association :grid, collection: Grid.default, prompt: BaitLoading.human_attribute_name(:select_grid), label_method: :coordinates, value_method: :id, input_html: {class: 'select2-select'} %>

      <%= f.input :price, placeholder: BaitLoading.human_attribute_name(:price) %>

      <div class="form-action text-center">



          <% if params[:company_id] %>
    	      <%= link_to "Cancel", company_bait_loadings_path( params[:company_id] ) %>
          <% elsif params[:vessel_id] %>
    	      <%= link_to "Cancel", vessel_bait_loadings_path( params[:vessel_id] ) %>
          <% elsif @vessel %>
            <%= link_to "Cancel", vessel_bait_loadings_path( @vessel ) %>
          <% elsif @bait_loading.vessel_id? %>
            <%= link_to "Cancel", vessel_bait_loadings_path( @bait_loading.vessel_id ) %>
          <% else %>
            <%= link_to "Cancel", bait_loadings_path %>
          <% end %>

          <%= content_tag :button, type: :submit, class: 'btn btn-primary btn-lg' do %>
            Save
          <% end %>


      </div>

    <% end %>
  </div>
</div>
