<%= simple_form_for @bait_loading, 
  wrapper: :horizontal_form,
  html: { 
    role: :form, 
    class: 'form form-horizontal'
  } do |f| %>

  <% if @vessel.present? %>
  	<div class="form-group string optional bait_loading_vessel_id">
      <label for="bait_loading_vessel" class="string optional control-label col-sm-3"><%= BaitLoading.human_attribute_name(:vessel) %></label>
      <div class="col-sm-9">
          <h5><%= @vessel.name %> <i><small>(<%= @vessel.ap2hi_ref %>)</small></i><h5>
          <%= f.input :vessel_id, as: :hidden %>
      </div>
    </div>

  <% else %>
  	<%= f.association :vessel, collection: @vessels, prompt: BaitLoading.human_attribute_name(:vessel), label_method: :ap2hi_ref, value_method: :id %>
  <% end %>

  <%= f.input :formatted_date, input_html: { class: 'datepicker form-control' } %>

  <%= f.association :fish, collection: Fish.default, prompt: BaitLoading.human_attribute_name(:fish), label_method: :code, value_method: :id %>

  <%= f.input :quantity, placeholder: BaitLoading.human_attribute_name(:quantity) %>

  <%= f.input :method_types, wrapper_html: { class: 'select' } do %>
      <%= f.select :method_type, BaitLoading::METHOD_TYPES.map { |s| [I18n.t("method_types.#{s}"), s] }, {}, { class: 'form-control' } %>
    <% end %>

  <%= f.input :location, placeholder: BaitLoading.human_attribute_name(:location) %>

  <%= f.input :price, placeholder: BaitLoading.human_attribute_name(:price) %>

  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">

      <%= content_tag :button, type: :submit, class: 'btn btn-primary' do %>
        Save
      <% end %>

      <% if params[:company_id] %>
	      <%= link_to "Cancel", company_bait_loadings_path( params[:company_id] ) %>
      <% elsif params[:vessel_id] %>
	      <%= link_to "Cancel", vessel_bait_loadings_path( params[:vessel_id] ) %>
      <% elsif @vessel %>
        <%= link_to "Cancel", vessel_bait_loadings_path( @vessel ) %>
      <% elsif @bait_loading.vessel_id? %>
        <%= link_to "Cancel", vessel_bait_loadings_path( @bait_loading.vessel_id ) %>
      <% else %>
        <%= link_to "Cancel", bait_loadings_path %>
      <% end %> 

    </div>
  </div>

<% end %>