<% title t ".title" %>



<div class="row">
  <div id="supervisor_controls" class= "col-xs-8">
    <%= render partial: "supervisor_controls" %>
  </div>
  <div class="col-xs-4">
    <%= render partial: "shared/api_links", locals: {json: true, xml: true} %>
  </div>

</div>

<br />
<br />

<dl class="dl-horizontal">

  <dt><%= BaitLoading.human_attribute_name(:formatted_date) %></dt>
  <dd><i><%= @bait_loading.formatted_date %></i></dd>

  <dt><%= BaitLoading.human_attribute_name(:vessel_id) %></dt>
  <dd><%= @bait_loading.vessel.ap2hi_ref %> </dd>

  <dt><%= BaitLoading.human_attribute_name(:bait) %></dt>
  <dd><%= @bait_loading.bait.try(:code) %> </dd>

  <dt><%= BaitLoading.human_attribute_name(:secondary_bait) %></dt>
  <dd><%= @bait_loading.secondary_bait.try(:code) %> </dd>

  <dt><%= BaitLoading.human_attribute_name(:quantity) %></dt>
  <dd><%= @bait_loading.quantity %> </dd>

  <dt><%= BaitLoading.human_attribute_name(:method_type) %></dt>
  <dd><%= @bait_loading.method_type %> </dd>

  <dt><%= BaitLoading.human_attribute_name(:location) %></dt>
  <dd><%= @bait_loading.location %> </dd>

  <dt><%= BaitLoading.human_attribute_name(:price) %></dt>
  <dd><%= @bait_loading.price %> </dd>
</dl>

<%= link_to 'Edit', edit_bait_loading_path(@bait_loading) %> |
<%= link_to 'Back', bait_loadings_path %>
