<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @logged_day.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @logged_day.end_time %>
</p>

<p>
  <b>Gear time:</b>
  <%= @logged_day.gear_time %>
</p>

<p>
  <b>Fuel:</b>
  <%= @logged_day.fuel %>
</p>

<p>
  <b>Sail:</b>
  <%= @logged_day.sail %>
</p>

<p>
  <b>Net:</b>
  <%= @logged_day.net %>
</p>

<p>
  <b>Line:</b>
  <%= @logged_day.line %>
</p>

<p>
  <b>Quantity:</b>
  <%= @logged_day.quantity %>
</p>

<p>
  <b>Weight:</b>
  <%= @logged_day.weight %>
</p>

<p>
  <b>Value:</b>
  <%= @logged_day.value %>
</p>

<p>
  <b>Condition:</b>
  <%= @logged_day.condition %>
</p>

<p>
  <b>Moon:</b>
  <%= @logged_day.moon %>
</p>

<p>
  <b>Fish:</b>
  <%= @logged_day.fish %>
</p>

<p>
  <b>Graticule:</b>
  <%= @logged_day.graticule %>
</p>

<p>
  <b>User:</b>
  <%= @logged_day.logbook.user.name %>
</p>


<%= link_to 'Edit', edit_logged_day_path(@logged_day) %> |
<%= link_to 'Back', logged_days_path %>
