<% title t ".title" %>

<% if can? :create, Engine %>
  <%= link_to new_engine_path, class: "btn btn-mini btn-default", title: "Create new engine", alt: "New engine" do %>
    <%= add_icon %>
    NEW
  <% end %>
<% end %>


<table  class="table table-striped table-condensed datatable">
  <thead>
    <tr>
      <th class="nosort"></th>
      <th>Name</th>
      <th>Code</th>
      <th class="nosort"></th>
    </tr>
  </thead>
  <tbody>
    <% @engines.each do |engine| %>
      <tr>
        <td><%= link_to show_icon, engine %></td>
        <td><%= engine.name %></td>
        <td><%= engine.code %></td>
        <td>
          <% if can? :edit, engine %>
            <%= link_to edit_icon, edit_engine_path(engine) %>
          <% end %>
          <% if can? :destroy, engine %>
            <%= link_to destroy_icon, engine, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
