<h1>Crop avatar</h1>

<%= image_tag @user.avatar_url(:large), id: 'cropbox' %>

<h4>Preview</h4>
<div class="cropbox-preview">
  <%= image_tag @user.avatar.url(:large), :id => "preview" %>
</div>

<%= form_for(@user, :url => registration_path(@user)) do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %><br>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>
