<h1>Listing landings</h1>

<table class="table-bordered table-striped table table-hover">
  <tr>
    <th>Vessel reg</th>
    <th>Vessel name</th>
    <th>Grid square</th>
    <th>Type</th>
    <th>Time out</th>
    <th>Time in</th>
    <th>Engine</th>
    <th>Fuel</th>
    <th>Sail</th>
    <th>Crew</th>
    <th>Boat size</th>
    <th>Gear</th>
    <th>Quantity</th>
    <th>Weight</th>
    <th>Value</th>
    <th></th>
  </tr>

  <% @landings.each do |landing| %>
    <tr>
      <td><%= landing.vessel_ref %></td>
      <td><%= landing.vessel_name %></td>
      <td><%= landing.grid_square %></td>
      <td><%= landing.type %></td>
      <td><%= landing.time_out %></td>
      <td><%= landing.time_in %></td>
      <td><%= landing.engine %></td>
      <td><%= landing.fuel %></td>
      <td><%= landing.sail %></td>
      <td><%= landing.crew %></td>
      <td><%= landing.boat_size %></td>
      <td><%= landing.gear_id %></td>
      <td><%= landing.quantity %></td>
      <td><%= landing.weight %></td>
      <td><%= landing.value %></td>
      <td>
        <%= link_to 'Show', landing %>
        <%= link_to 'Edit', edit_landing_path(landing) %>
        <%= link_to 'Destroy', landing, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Landing', new_landing_path %>
