<p id="notice"><%= notice %></p>

<p>
  <b>Vessel ref:</b>
  <%= @landing.vessel_ref %>
</p>

<p>
  <b>Vessel name:</b>
  <%= @landing.vessel_name %>
</p>

<p>
  <b>Grid square:</b>
  <%= @landing.grid_square %>
</p>

<p>
  <b>Time out:</b>
  <%= @landing.time_out %>
</p>

<p>
  <b>Time in:</b>
  <%= @landing.time_in %>
</p>

<p>
  <b>Engine:</b>
  <%= @landing.engine %>
</p>

<p>
  <b>Fuel:</b>
  <%= @landing.fuel %>
</p>

<p>
  <b>Sail:</b>
  <%= @landing.sail %>
</p>

<p>
  <b>Crew:</b>
  <%= @landing.crew %>
</p>

<p>
  <b>Boat size:</b>
  <%= @landing.boat_size %>
</p>

<p>
  <b>Gear:</b>
  <%= @landing.gear_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @landing.quantity %>
</p>

<p>
  <b>Weight:</b>
  <%= @landing.weight %>
</p>

<p>
  <b>Value:</b>
  <%= @landing.value %>
</p>


<%= link_to 'Edit', edit_landing_path(@landing) %> |
<%= link_to 'Back', landings_path %>
