<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pending Vessel Audits</h3>
  </div>
  <table  class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th><%= PendingVessel.human_attribute_name(:name) %></th>
        <th><%= PendingVessel.human_attribute_name(:company) %></th>
        <th class='hidden-xs'><%= PendingVessel.human_attribute_name(:vessel_type) %></th>
        <th class='hidden-xs'><%= PendingVessel.human_attribute_name(:gear) %></th>
        <th><%= PendingVessel.human_attribute_name(:admin) %></th>
        <th><%= PendingVessel.human_attribute_name(:updated_at) %></th>
      </tr>
    </thead>
    <tbody>
      <%if @pending_vessels.empty? %>
        <tr>
          <td colspan="7"><i>NO PENDING VESSEL AUDITS</i></td>
        </tr>
      <% else %>
        <% @pending_vessels.each do |vessel| %>
          <tr>
            <td><%= link_to show_icon, vessel %> </td>
            <td><%= vessel.name %></td>
            <td><%= vessel.company.try(:name) %></td>
            <td class='hidden-xs'><%= vessel.vessel_type.try(:name) %></td>
            <td class='hidden-xs'><%= vessel.gear.try(:alpha_code) %></td>
            <td><%= link_to vessel.admin.try(:name), vessel.admin %></td>
            <td><%= vessel.updated_at.to_s(:long) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="panel-footer text-right">
    <%= link_to "See All", pending_vessels_path %>
  </div>
</div>