<%= render partial: "shared/api_links" %>

<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Email:</b>
  <%= @admin.email %>
</p>

<div id="graph_options">
  <%= text_field_tag "date_from", @date_from %>
  <%= text_field_tag "date_to", @date_to %>
  <button class="btn" id="btn_refresh">Refresh</button>
</div>

<div id="cpue_chart_container" style="width:100%;height:200px;" data-chart="<%= @chart %>" data-series="Surveys"></div>

<%= link_to 'Back', admins_path %>
<%= link_to 'Edit', edit_admin_path(@admin) %>