<% title t ".title" %>


<%= simple_form_for resource, 
    as: resource_name, 
    url: registration_path(resource_name), 
    html: {
      multipart: true, 
      class: 'form form-horizontal'
      }, 
    wrapper: :horizontal_form, 
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    } do |f| %>
 
  <%= f.error_notification %>

  <%= f.input :name, required: true %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.association :office, required: true %>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
  <%= f.input :password_confirmation, required: true %>

  <br />

  <div class="form-actions text-center">
    <%= f.submit "Submit for Approval", class: "btn btn-primary btn-lg"  %>
  </div>
<% end %>

<br />

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>