<% for admin in @admins %>
  <tr>
    <td><%= image_tag(admin.avatar_url(:thumb), width: "30px", height: "30px") %></td>
    <td><%= link_to admin.name, [:panel, admin] %></td>
    <td><%= admin.office.try(:name) %></td>
    <td><%= admin.district.try(:name) %></td>
    <td><%= admin.province.try(:name) %></td>
    <td>
      <% if can? :update, admin %> 
        <%= content_tag :div, 
          class: "controls make-switch switch-mini", 
          data: { 
            on: "success", 
            off: "danger", 
            "on-label" => "YES", 
            "off-label" => "NO"
          } do %>
          <%= check_box_tag :approved, admin.id, admin.approved?, class: 'approve-toggle', data: { href: set_approved_panel_admin_path(admin) } %>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= link_to show_icon, [:panel, admin] %>
    </td>
  </tr>
<% end %>