<% for admin in @admins %>
  <tr>
  	<td><%= image_tag(admin.avatar_url(:thumb), width: "30px", height: "30px") %></td>
    <td><%= link_to admin.name, [:panel, admin] %></td>
    <td><%= admin.office.name %></td>
    <td><%= admin.district.name %></td>
    <td><%= admin.province.name %></td>
    <td>
      <div class="controls toggle switch" 
          data-toggleButton-label-enabled="Yes" 
          data-toggleButton-label-disabled="No" 
          data-toggleButton-style-enabled="success" 
          data-toggleButton-style-disabled="danger" 
          data-toggleButton-height="20"
          data-toggleButton-width="80"> 
            <%= check_box_tag :approved, admin.id, admin.approved?, class: 'admin-approve-cb', data: { href: approve_panel_admin_path(admin) } %>
        </div>
    </td>
    <td>
      <%= link_to show_icon, [:panel, admin] %>
    </td>
  </tr>
<% end %>