<% for admin in @admins %>
  <tr>
    <td><%= image_tag(admin.avatar_url(:thumb), width: "30px", height: "30px") %></td>
    <td><%= link_to admin.name, [:panel, admin] %></td>
    <td><%= admin.office.try(:name) %></td>
    <td><%= admin.district.try(:name) %></td>
    <td><%= admin.province.try(:name) %></td>
    <td>
      <% if can? :update, admin %> 
        
          <%= check_box_tag :approved, 
            admin.id, 
            admin.approved?, 
            class: 'toggle-switch approve-toggle', 
            data: { 
              href: set_approved_panel_admin_path(admin),
              size: 'mini',
              'on-color' => 'success',
              'off-color' => 'danger',
              'on-text' => "#{ icon 'check' }",
              'off-text' => "#{ icon 'remove' }"
            } %>

      <% end %>
    </td>
    <td>
      <%= link_to show_icon, [:panel, admin] %>
    </td>
  </tr>
<% end %>