<% title "Admins" %>

<table class="table table-striped table-condensed">
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Office</th>
    <th>District</th>
    <th>Province</th>
  	<th></th>
  </tr>
  <% for admin in @admins %>
  <tr>
  	<td><%= image_tag(admin.avatar_url(:thumb), width: "30px", height: "30px") %></td>
    <td><%= link_to admin.name, [:panel, admin] %></td>
    <td><%= admin.office.name %></td>
    <td><%= admin.district.name %></td>
    <td><%= admin.province.name %></td>
    <td>
      <%= link_to show_icon, [:panel, admin] %>
    </td>
  </tr>
  <% end %>
 </table>