
<% title @admin.name %>

<%= @admin.email %>
<div id="flash"></div>
<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Roles</h3>
      </div>
      <div class="panel-body">

          <% if can? :update, @admin %>
            <%= form_tag [:add_role, :panel, @admin], class: "form", :remote=>true do %>
              <div class="input-group">
              
                <%= text_field_tag :get_role, "", class: "form-control", placeholder: "Assign a role...", autocomplete: "off", data: { autocomplete_source: Role.order(:name).map(&:name) } %>
                <div class="input-group-btn">
                  <%= button_tag add_icon, class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          <% end %>

        <%= render :partial=>'role_list' %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Return to Admin List', [:panel, Admin] %>
