<% title "Catch Composition" %>

<table class="table table-striped table-condensed">
  <tr>
    <th>Species</th>
    <th>Length (mm)</th>
    <th>Weight (g)</th>
    <th></th>
  </tr>

  <% @catches.each do |catch| %>
  	<tr>
      <td><%= catch.fish.english_name %></td>
      <td><%= catch.length %></td>
      <td><%= catch.weight %></td>
      <td>
        <%= link_to 'Show', catch %>
        <%= link_to 'Edit', edit_catch_path(catch) %>
        <%= link_to 'Destroy', catch, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Catch', new_catch_path %>
