
<div class='row'>
  <div class='col-xs-12 col-sm-6 col-sm-offset-3'>

    <%= simple_form_for @unloading,
      wrapper: :vertical_form,
      html: {
        role: :form,
        class: 'form form-horizontal',
        data: {
          model: 'unloading'
        }
      } do |f| %>


      <div class="form-group required vessel">
        <label class="control-label required" for="vessel">Vessel</label>
        <% if @vessel.present? %>
          <h5><%= @vessel.name %> <i><small>(<%= @vessel.ap2hi_ref %>)</small></i><h5>
          <%= f.input :vessel_id, as: :hidden %>
        <% else %>
          <%= f.association :vessel, label: false %>
        <% end %>
      </div>

      <%= f.association :port, collection: Port.all, input_html: { class: 'form-control select2-select' }, placeholder: Unloading.human_attribute_name(:port) %>

      <%= f.association :wpp, collection: Wpp.all, input_html: { class: 'form-control select2-select' }, placeholder: Unloading.human_attribute_name(:wpp) %>

      <%= f.input :formatted_time_out, label: 'Dep.', input_html: { class: 'datetimepicker' } %>

      <%= f.input :formatted_time_in, label: 'Arr.', input_html: { class: 'datetimepicker' } %>

      <%= f.input :fuel %>

      <%= f.input :ice %>

      <%= f.input :vms, input_html: {class: 'js-switch', data: { "secondary-color": '#B71C1C'}} %>

      <%= f.input :observer, input_html: {class: 'js-switch', data: { "secondary-color": '#B71C1C'}} %>

      <%= f.input :port_sampling, input_html: {class: 'js-switch', data: { "secondary-color": '#B71C1C'}} %>

      <%= f.input :etp, input_html: {class: 'js-switch', data: { "secondary-color": '#B71C1C'}} %>

      <div class="form-group">
        <div class="col-xs-12 text-center">
          <% if @vessel %>
            <%= link_to "Cancel", vessel_path( @vessel ), class: 'btn' %>
          <% elsif @unloading.vessel_id? %>
            <%= link_to "Cancel", vessel_path( @unloading.vessel_id ), class: 'btn' %>
          <% else %>
            <%= link_to "Cancel", vessels_path, class: 'btn' %>
          <% end %>

          <%= content_tag :button, type: :submit, class: 'btn btn-primary btn-lg' do %>
            Save
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
