

<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= simple_form_for @unloading, 
  wrapper: :horizontal_form,
  html: { 
    role: :form, 
    class: 'form form-horizontal', 
    data: { 
      model: 'unloading' 
    } 
  }, 
  remote: remote do |f| %>


  <div class="flash-container"><%= render partial: "shared/flash_messages" %></div>
  <%= render partial: "shared/model_error_messages" %>

  <div class="form-group required integer">
    <span class="col-md-3 control-label integer required"><b>Vessel</b></span>
    <div class="col-md-9">
      <div class="form-group row">

        <label for="unloading_port" class="control-label sr-only"><%= Vessel.human_attribute_name(:ap2hi_ref) %></label>
        <div class="col-md-6">
          <% if @vessel.present? %>
            <h5><%= @vessel.name %> <i><small>(<%= @vessel.ap2hi_ref %>)</small></i><h5>
            <%= f.input :vessel_id, as: :hidden %>
          <% else %>
            <%= f.association :vessel %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Location</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_port" class="control-label sr-only"><%= Unloading.human_attribute_name(:port) %></label>
          <div class="col-md-6">
            <%= f.input_field :port, class: 'form-control', placeholder: Unloading.human_attribute_name(:port) %>
          </div>

          <label for="unloading_location" class="control-label sr-only"><%= Unloading.human_attribute_name(:location) %></label>
          <div class="col-md-6">
              <%= f.input_field :location, class: 'form-control', placeholder: Unloading.human_attribute_name(:location) %>
          </div>

        </div>
      </div>
  </div>



  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b><%= Unloading.human_attribute_name(:time_out) %></b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_time_out" class="control-label sr-only"><%= Unloading.human_attribute_name(:time_out) %></label>
          <div class="col-md-12 datetime-select-wrapper">
            <%= f.input_field :time_out,
              default: Time.now,
              start_year: Time.now.year-100,
              end_year: Time.now.year,
              class: 'datetime-select-input form-control', 
              data: {
                date: @unloading.time_out? ? @unloading.time_out.to_s(:long) : '',
                id: 'unloading_time_out',
                name: 'unloading[time_out]',
                min: Date.today-100.years,
                max: Date.today,
                label: Unloading.human_attribute_name(:time_out)
              } %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b><%= Unloading.human_attribute_name(:time_in) %></b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_time_in" class="control-label sr-only"><%= Unloading.human_attribute_name(:time_in) %></label>
          <div class="col-md-12 datetime-select-wrapper">
            <%= f.input_field :time_in,
              default: Time.now,
              start_year: Time.now.year-100,
              end_year: Time.now.year,
              class: 'datetime-select-input form-control',
              data: {
                date: @unloading.time_in? ? @unloading.time_in.to_s(:long) : '',
                id: 'unloading_time_in',
                name: 'unloading[time_in]',
                min: Date.today-100.years,
                max: Date.today,
                label: Unloading.human_attribute_name(:time_in)
              } %>
          </div>

        </div>
      </div>
  </div>



  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Production (kg)</b></span>
      <div class="col-md-9">

        <%= f.simple_fields_for :unloading_catches do |builder| %>
          <%= render 'unloading_catch_fields', f: builder %>
        <% end %>

        <p class="text-center"><%= link_to_add_fields icon('plus', 'Add production record'), f, :unloading_catches %></p>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Bycatch (kg)</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_byproduct" class="control-label sr-only"><%= Unloading.human_attribute_name(:byproduct) %></label>
          <div class="col-md-6">
            <%= f.input_field :byproduct, class: 'form-control', placeholder: Unloading.human_attribute_name(:landed) %>
          </div>

          <label for="unloading_discard" class="control-label sr-only"><%= Unloading.human_attribute_name(:discard) %></label>
          <div class="col-md-6">
              <%= f.input_field :discard, class: 'form-control', placeholder: Unloading.human_attribute_name(:discarded) %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Inputs</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_fuel" class="control-label sr-only"><%= Unloading.human_attribute_name(:fuel) %></label>
          <div class="col-md-6">
            <%= f.input_field :fuel, class: 'form-control', placeholder: Unloading.human_attribute_name(:fuel) %>
          </div>

          <label for="unloading_ice" class="control-label sr-only"><%= Unloading.human_attribute_name(:ice) %></label>
          <div class="col-md-6">
              <%= f.input_field :ice, class: 'form-control', placeholder: Unloading.human_attribute_name(:ice) %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>ETP</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_etp" class="control-label sr-only"><%= Unloading.human_attribute_name(:etp) %></label>
          <div class="col-md-12">
            <%= f.input_field :etp,
              class: 'toggle-switch', 
              data: { 
                size: 'normal',
                'on-color' => 'success',
                'off-color' => 'danger',
                'on-text' => "Yes",
                'off-text' => "No"
              } %>

          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
    <span class="col-md-3 control-label integer required"><b>Bait Loading</b></span>
    <div class="col-md-9">

      <%= f.simple_fields_for :bait_loadings do |builder| %>
        <%= render 'bait_loading_fields', f: builder %>
      <% end %>

      <p class="text-center"><%= link_to_add_fields icon('plus', 'Add bait loading'), f, :bait_loadings %></p>
    </div>
  </div>

  <div class="actions">
    <%= content_tag :button, type: :submit, class: 'btn btn-primary pull-right', style:"margin-left:20px" do %>
      Save
    <% end %>
  </div>

<% end %>
