

<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= simple_form_for @unloading, 
  wrapper: :horizontal_form,
  html: { 
    role: :form, 
    class: 'form form-horizontal', 
    data: { 
      model: 'unloading' 
    } 
  } do |f| %>



  <div class="form-group required integer">
    <span class="col-md-3 control-label integer required"><b>Vessel</b></span>
    <div class="col-md-9">
      <div class="form-group row">

        <label for="unloading_port" class="control-label sr-only"><%= Vessel.human_attribute_name(:ap2hi_ref) %></label>
        <div class="col-md-6">
          <% if @vessel.present? %>
            <h5><%= @vessel.name %> <i><small>(<%= @vessel.ap2hi_ref %>)</small></i><h5>
            <%= f.input :vessel_id, as: :hidden %>
          <% else %>
            <%= f.association :vessel, label: false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Location</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_port" class="control-label sr-only"><%= Unloading.human_attribute_name(:port) %></label>
          <div class="col-md-6">
            <%= f.input_field :port, class: 'form-control', placeholder: Unloading.human_attribute_name(:port) %>
          </div>

          <label for="unloading_location" class="control-label sr-only"><%= Unloading.human_attribute_name(:location) %></label>
          <div class="col-md-6">
              <%= f.input_field :location, class: 'form-control', placeholder: Unloading.human_attribute_name(:location) %>
          </div>

        </div>
      </div>
  </div>



  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b><%= Unloading.human_attribute_name(:time_out) %></b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_time_out" class="control-label sr-only"><%= Unloading.human_attribute_name(:time_out) %></label>
          <div class="col-md-12">
            <%= f.input_field :formatted_time_out, class: 'datetimepicker form-control' %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b><%= Unloading.human_attribute_name(:time_in) %></b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_time_in" class="control-label sr-only"><%= Unloading.human_attribute_name(:time_in) %></label>
          <div class="col-md-12 datetime-select-wrapper">
            <%= f.input_field :formatted_time_in, class: 'datetimepicker form-control' %>
          </div>

        </div>
      </div>
  </div>



  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Production (kg)</b></span>
      <div class="col-md-9">

        <%= f.simple_fields_for :unloading_catches do |builder| %>
          <%= render 'unloading_catch_fields', f: builder %>
        <% end %>

        <p class="text-center"><%= link_to_add_fields icon('plus', 'Add production record'), f, :unloading_catches %></p>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Bycatch (kg)</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_byproduct" class="control-label sr-only"><%= Unloading.human_attribute_name(:byproduct) %></label>
          <div class="col-md-6">
            <%= f.input_field :byproduct, class: 'form-control', placeholder: Unloading.human_attribute_name(:landed) %>
          </div>

          <label for="unloading_discard" class="control-label sr-only"><%= Unloading.human_attribute_name(:discard) %></label>
          <div class="col-md-6">
              <%= f.input_field :discard, class: 'form-control', placeholder: Unloading.human_attribute_name(:discarded) %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Inputs</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_fuel" class="control-label sr-only"><%= Unloading.human_attribute_name(:fuel) %></label>
          <div class="col-md-6">
            <%= f.input_field :fuel, class: 'form-control', placeholder: Unloading.human_attribute_name(:fuel) %>
          </div>

          <label for="unloading_ice" class="control-label sr-only"><%= Unloading.human_attribute_name(:ice) %></label>
          <div class="col-md-6">
              <%= f.input_field :ice, class: 'form-control', placeholder: Unloading.human_attribute_name(:ice) %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>Other</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_price" class="control-label sr-only"><%= Unloading.human_attribute_name(:budget) %></label>
          <div class="col-md-6">
            <%= f.input_field :budget, class: 'form-control', placeholder: Unloading.human_attribute_name(:budget) %>
          </div>

          <label for="unloading_catch_certificate" class="control-label sr-only"><%= Unloading.human_attribute_name(:catch_certificate) %></label>
          <div class="col-md-6">
              <%= f.input_field :catch_certificate, class: 'form-control', placeholder: Unloading.human_attribute_name(:catch_certificate) %>
          </div>

        </div>
      </div>
  </div>

  <div class="form-group required integer">
      <span class="col-md-3 control-label integer required"><b>ETP</b></span>
      <div class="col-md-9">
        <div class="form-group row">

          <label for="unloading_etp" class="control-label sr-only"><%= Unloading.human_attribute_name(:etp) %></label>
          <div class="col-md-12">
            <%= f.input_field :etp,
              class: 'toggle-switch', 
              data: { 
                size: 'normal',
                'on-color' => 'success',
                'off-color' => 'danger',
                'on-text' => "Yes",
                'off-text' => "No"
              } %>

          </div>

        </div>
      </div>
  </div>

  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">

      <%= content_tag :button, type: :submit, class: 'btn btn-primary' do %>
        Save
      <% end %>

      <% if @vessel %>
        <%= link_to "Cancel", vessel_unloadings_path( @vessel ) %>
      <% elsif @unloading.vessel_id? %>
        <%= link_to "Cancel", vessel_unloadings_path( @unloading.vessel_id ) %>
      <% else %>
        <%= link_to "Cancel", vessels_path %>
      <% end %> 

    </div>
  </div>
<% end %>
