<div class="form-group row">
  <div class="col-xs-2">
    <%= f.select :fish, 
      Fish.default.map{ |f| [ f.code, f.id ] },
      { prompt: UnloadingCatch.human_attribute_name(:fish)},
      { 
        class: 'form-control select2-select', 
        data: {
          placeholder: UnloadingCatch.human_attribute_name(:fish)
        }
      } %>
  </div>
  <div class="col-xs-2">

    <%= f.select :cut_type, 
      UnloadingCatch::CUT_TYPES.map { |s| [I18n.t("cut_types.#{s}"), s] }, 
      { prompt: UnloadingCatch.human_attribute_name(:cut_type)}, 
      { 
        class: 'form-control select2-select',
        data: {
          placeholder: UnloadingCatch.human_attribute_name(:cut_type)
        } 
      } %>

  </div>
  <div class="col-xs-2">
    <%= f.select :size_class_id, 
      SizeClass.default.map { |s| [s.name, s.id] }, 
      {prompt: UnloadingCatch.human_attribute_name(:size_class)}, 
      { 
        class: 'form-control select2-select',
        data: {
          placeholder: UnloadingCatch.human_attribute_name(:size_class)
        } 
      } %>
  </div>

  <div class="col-xs-2">
    <%= f.input_field :quantity, class: 'form-control', placeholder: UnloadingCatch.human_attribute_name(:quantity) %>
  </div>

  <div class="col-xs-2">
    <%= f.select :catch_type, UnloadingCatch::CATCH_TYPES.map{ |t| [I18n.t("catch_types.#{t}"), t] }, {}, { class: 'form-control', placeholder: UnloadingCatch.human_attribute_name(:type) } %>
  </div>


</div>