<% title t ".title" %>

<div class="row">

  <%= render partial: "unloadings/supervisor_controls" %>

  <div class="col-sm-3 hidden-xs">
    <%= render partial: "shared/api_links", locals: {json: true, xml: true} %>
  </div>

</div>

<br />
<br />


<% present @unloading do |unloading_presenter| %>

  <div class="row">
    <div class="col-xs-12 col-md-4 ">
      <div class="row">
        <div class="col-xs-12">
          <div class='panel panel-default'>
            <div class="panel-heading">
              <h3 class="panel-title">Company</h3>
            </div>
            <div class="panel-body">

              <dl class="dl-horizontal">

                <dt><%= Unloading.human_attribute_name(:company) %></dt>
                <dd><%= unloading_presenter.company %></dd>

                <dt><%= Unloading.human_attribute_name(:vessel_id) %></dt>
                <dd><%= unloading_presenter.vessel %></dd>

              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel <%= @unloading.etp.present? ? 'panel-danger' : 'panel-success' %>">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= @unloading.etp.present? ? 'ETP interactions reported' : 'No ETP interactions reported' %>
              </h3>
            </div>
            <div class="panel-body">
              <dl>
                <dt><%= Unloading.human_attribute_name(:vms) %></dt>
                <dd><%= unloading_presenter.vms %></dd>
                <dt><%= Unloading.human_attribute_name(:observer) %></dt>
                <dd><%= unloading_presenter.observer %></dd>
                <dt><%= Unloading.human_attribute_name(:port_sampling) %></dt>
                <dd><%= unloading_presenter.port_sampling %></dd>
              </dl>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-xs-12 col-md-4">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Operations</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">

                <dt><%= Unloading.human_attribute_name(:time_out) %></dt>
                <dd><%= unloading_presenter.time_out %></dd>

                <dt><%= Unloading.human_attribute_name(:time_in) %></dt>
                <dd><%= unloading_presenter.time_in %></dd>

                <dt><%= Unloading.human_attribute_name(:port_id) %></dt>
                <dd><%= unloading_presenter.port %></dd>

                <dt><%= Unloading.human_attribute_name(:wpp_id) %></dt>
                <dd><%= unloading_presenter.wpp %></dd>

              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Inputs</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">

                <dt><%= Unloading.human_attribute_name(:fuel) %></dt>
                <dd><%= unloading_presenter.fuel %></dd>

                <dt><%= Unloading.human_attribute_name(:ice) %></dt>
                <dd><%= unloading_presenter.ice %></dd>

              </dl>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-xs-12 col-md-4 ">
      <div class='panel panel-default'>
        <div class="panel-heading">
          <h3 class="panel-title">Catch Composition</h3>
        </div>
        <div class="panel-body">

          <% as = @unloading.unloading_catches.group(:fish_id).sum(:quantity) %>

          <%= pie_chart as.map {|k, v| [Fish.find(k).code, v] }.to_h %>

        </div>
      </div>

    </div>






  </div>
<% end %>





<div class="row">
  <div class="col-xs-12 ">

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Catch</h3></div>
      <%= render partial: 'unloadings/unloading_catch_table' %>
      <div class="panel-footer">
        <%= render partial: 'unloadings/unloading_catch_form' %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/audit_table', locals: { parent: @unloading } %>

<% if can? :edit, @unloading %>
  <%= link_to 'Edit', edit_unloading_path(@unloading) %>
<% end %>
<% if can? :destroy, @unloading %>
  <%= link_to 'Back', unloadings_path %>
<% end %>
