<br />
<div id="container"></div>
<br />
<br />
<div id="container_fish"></div>

<script type="text/javascript">


$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Monthly Average Surveys',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Surveys'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'°C';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Survey',
                data: [<%= @month_1 %>, <%= @month_2 %>, <%= @month_3 %>, <%= @month_4 %>, <%= @month_5 %>, <%= @month_6 %>, <%= @month_7 %>, <%= @month_8 %>, <%= @month_9 %>, <%= @month_10 %>, <%= @month_11 %>, <%= @month_12 %>]
            }]
        });
    });

});


</script>



<script type="text/javascript">


$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container_fish',
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: 'Graph C'
            },
            xAxis: {
                categories: [
                  <%- @length.each do |le| %>
                            <%= le.to_s %> <% if !@length.last.eql?(le) %>,<% end %>
                            <%- end %>
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        Highcharts.numberFormat(this.y, 1);
                }
            },
                series: [{
                name: 'Population',
                data: [
                  <%- @hash_leng.each do |hshleng|%>
                        <%= @hash_leng[hshleng.first] %>,
                        <%- end%>
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: -3,
                    y: 10,
                    formatter: function() {
                        return this.y;
                    },
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });

});


</script>