<% title "FishNet" %>
<div class="container">
	<div class="row">
		<%= link_to provinces_path do %>
		  <div class="span2 offset1 well well-large report-button">
		  	Province Reports
		  </div>
		<% end %>
		<%= link_to districts_path do %>
		  <div class="span2 well well-large report-button">
		  	District Reports
		  </div>
		<% end %>
		<%= link_to fisheries_path do %>
		  <div class="span2 well well-large report-button">
		  	Fishery Reports
		  </div>
		<% end %>
		<%= link_to provinces_path do %>
		  <div class="span2 well well-large report-button">
		  	Supervisor Reports
		  </div>
		<% end %>
	</div>
	<div class="row">
		<div class="span6 offset3">
			<h5>Recent Activity</h5>

			
			<div id="surveys">
				<%= render @surveys %>
			</div>
			
			
			<div class="row">
				<div class="pull-right pagination">
					<%= render partial: 'home/pagination' %>
					
				</div>
				
			</div>
		</div>
		
	</div>
</div>