<% title t("navbar.reports") %>

<div class="row-fluid">
	<%= link_to provinces_path, class: "span4 btn btn-warning btn-large"  do%>
		
			<%= t("provinces.title") %>
	
	<% end %>
	<%= link_to districts_path, class: "span4 btn btn-warning btn-large"   do%>
		
			<%= t("districts.title") %>
		
	<% end %>
	<%= link_to desas_path, class: "span4 btn btn-warning btn-large"   do%>
		
			<%= t("desas.title") %>
		
	<% end %>
</div>

<br />
<br />

<div class="row-fluid">
	<%= link_to fisheries_path, class: "span4 btn btn-info btn-large"   do%>
	
			<%= t("fisheries.title") %>

	<% end %>
	<%= link_to fishes_path, class: "span4 btn btn-info btn-large"   do%>
	
			<%= t("fishes.title") %>

	<% end %>
	<%= link_to gears_path, class: "span4 btn btn-info btn-large"   do%>
		
			<%= t("gears.title") %>
	
	<% end %>
</div>

<br />
<br />

<div class="row-fluid">
	<%= link_to users_path, class: "span4 btn btn-success btn-large"   do%>
	
			<%= t("users.title") %>

	<% end %>
	<%= link_to admins_path, class: "offset4 span4 btn btn-success btn-large"   do%>
	
			<%= t("admins.title") %>
	<% end %>


</div>

<br />
<br />
