<% title t("navbar.reports") %>

<div class="row">
	<%= link_to provinces_path, class: "col-xs-12 col-md-4 btn btn-warning btn-lg"  do%>
		
			<%= t("provinces.title") %>
	
	<% end %>
	<%= link_to districts_path, class: "col-xs-12 col-md-4 btn btn-warning btn-lg"   do%>
		
			<%= t("districts.title") %>
		
	<% end %>
	<%= link_to desas_path, class: "col-xs-12 col-md-4 btn btn-warning btn-lg"   do%>
		
			<%= t("desas.title") %>
		
	<% end %>
</div>

<br />
<br />

<div class="row">
	<%= link_to fisheries_path, class: "col-xs-12 col-md-4 btn btn-info btn-lg"   do%>
	
			<%= t("fisheries.title") %>

	<% end %>
	<%= link_to fishes_path, class: "col-xs-12 col-md-4 btn btn-info btn-lg"   do%>
	
			<%= t("fishes.title") %>

	<% end %>
	<%= link_to gears_path, class: "col-xs-12 col-md-4 btn btn-info btn-lg"   do%>
		
			<%= t("gears.title") %>
	
	<% end %>
</div>

<br />
<br />

<div class="row">
	<%= link_to users_path, class: "col-xs-12 col-md-4 btn btn-success btn-lg"   do%>
	
			<%= t("users.title") %>

	<% end %>
	<%= link_to admins_path, class: "col-xs-12 col-md-4 col-md-offset-4 btn btn-success btn-lg"   do%>
	
			<%= t("admins.title") %>
	<% end %>


</div>

<br />
<br />
