
  <table class="table table-striped table-condensed">
    <tr>
      <th><%= LoggedDay.human_attribute_name(:date) %></th>
      <th><%= LoggedDay.human_attribute_name(:start_time) %></th>
      <th><%= LoggedDay.human_attribute_name(:end_time) %></th>
      <th><%= LoggedDay.human_attribute_name(:gear_time) %></th>
      <th><%= LoggedDay.human_attribute_name(:graticule) %></th>
      <th><%= LoggedDay.human_attribute_name(:fuel) %></th>
      <th><%= LoggedDay.human_attribute_name(:sail) %></th>
      <th><%= LoggedDay.human_attribute_name(:net) %></th>
      <th><%= LoggedDay.human_attribute_name(:line) %></th>
      <th><%= LoggedDay.human_attribute_name(:fish) %></th>
      <th><%= LoggedDay.human_attribute_name(:quantity) %></th>
      <th><%= LoggedDay.human_attribute_name(:weight) %></th>
      <th><%= LoggedDay.human_attribute_name(:value) %></th>
      <th><%= LoggedDay.human_attribute_name(:condition) %></th>
      <th></th>
    </tr>

    <% for logged_day in @logbook.logged_days.order("start_time ASC") %>

      <% present logged_day do |logged_day_presenter| %> 
        <tr>
          <td><%= logged_day_presenter.start_date %></td>
          <td><%= logged_day_presenter.start_time %></td>
          <td><%= logged_day_presenter.end_time %></td>
          <td><%= logged_day_presenter.gear_time %></td>
          <td><%= logged_day_presenter.graticule %></td>
          <td><%= logged_day_presenter.fuel %></td>
          <td><%= logged_day_presenter.sail %></td>
          <td><%= logged_day_presenter.net %></td>
          <td><%= logged_day_presenter.line %></td>
          <td><%= logged_day_presenter.fish %></td>
          <td><%= logged_day_presenter.quantity %></td>
          <td><%= logged_day_presenter.weight %></td>
          <td><%= logged_day_presenter.value %></td>
          <td><%= logged_day_presenter.condition %></td>
          <td>
              <small><em>
                <%= link_to 'edit', '#', rel: 'popover', title: 'To edit, simply click the value you wish to change in the table', data: { toggle: 'toggle', placement: 'right', 'original-title' => 'Click the entry to edit directly' } %>
              </em></small>
          </td>
        </tr>
      <% end %>
    <% end %>

  </table>
