<% if can? :update, @logbook %>
  <div class="row">
    <div class="col-xs-2">
      <%= link_to :back  do %>
        <%= icon 'arrow-left', "Back" %>
      <% end %>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= link_to reject_logbook_path(@logbook), 
            class: "col-xs-4 btn btn-lg #{@logbook.rejected? ? 'btn-danger' : 'btn-default' }", 
            method: :put, 
            remote: true do 
            %>
              <%= icon 'remove', "Rejected", class: "fa_lg" %>
          <% end %>  
          <%= link_to pend_logbook_path(@logbook), 
            class: "col-xs-4 btn btn-lg #{@logbook.pending? ? 'btn-warning' : 'btn-default' }", 
            method: :put, 
            remote: true do
            %>
            <%= icon 'warning', "Pending", class: 'fa_lg' %>
          <% end %>
          <%= link_to approve_logbook_path(@logbook), 
            class: "col-xs-4 btn btn-lg #{@logbook.approved? ? 'btn-success' : 'btn-default' }", 
            method: :put, 
            remote: true do 
            %>
            <%= icon 'check', "Approved", class: 'fa_lg' %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>