<% title t ".title" %>

<%= render partial: "shared/api_links" %>

<table class="table table-striped table-condensed">
  <tr>
    <th><%= Logbook.human_attribute_name(:date) %></th>
    <th><%= Logbook.human_attribute_name(:fishery) %></th>
    <th><%= Logbook.human_attribute_name(:user) %></th>
    <th><%= Logbook.human_attribute_name(:admin) %></th>
    <th></th>
    <th></th>
  </tr>

  <% @logbooks.each do |logbook| %>
    <tr class=<%= logbook.approved == false ? 'error' : '' %>>
      <td><%= logbook.date.to_s(:rfc822) %></td>
      <td><%= logbook.fishery.name %></td>
      <td>
        <%= image_tag(logbook.user.avatar_url(:thumb), 
          width: "30px", 
          height: "30px", 
          title: logbook.user.name, 
          alt: logbook.user.name) 
        %>
      </td>
      <td>
        <%= image_tag(logbook.admin.avatar_url(:thumb), 
          width: "30px", 
          height: "30px", 
          title: logbook.admin.name, 
          alt: logbook.admin.name) 
        %>
      </td>
      <td>
        <% if logbook.approved? %>
          <span class="label label-success">Approved</span>
        <% else %>
          <span class="label label-important">Not Approved</span>
        <% end %>
      </td>
      <td>
          <%= link_to show_icon, logbook %>
          <%= link_to edit_icon, edit_logbook_path(logbook) %>
          <%= link_to destroy_icon, logbook, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Logbook', new_logbook_path %>
