<%= simple_form_for @vessel, html: {class: 'form form-horizontal'} do |f| %>


  <div class="row">

    <div class="col-xs-12 col-md-6 col-md-offset-3">

    <%= f.input :return_to, as: :hidden %>

    <%= f.input :ap2hi_ref %>

    <%= f.input :mmaf_ref %>

    <%= f.input :dkp_ref %>

    <%= f.input :issf_ref %>

    <%= f.input :seafdec_ref %>

    <%= f.input :imo_number %>

    <%= f.input :sipi_number %>

    <%= f.input :formatted_sipi_expiry, as: :string, input_html: { class: 'datepicker' } %>

    <%= f.input :siup_number %>

    <%= f.input :name %>

    <%= f.input :name_changed, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>

    <%= f.input :operational_type, collection: Vessel::OPERATIONAL_TYPES, input_type: lambda { |s| I18n.t("operational_types.#{s}") } %>

    <%= f.association :company %>

    <%= f.input :relationship_type, collection: Vessel::RELATIONSHIP_TYPES, input_type: lambda { |s| I18n.t("relationship_types.#{s}") } %>

    <%= f.input :owner %>

    <%= f.association :vessel_type %>

    <%= f.input :material_type, collection: Vessel::MATERIAL_TYPES, input_type: lambda {|s| I18n.t("material_types.#{s}") } %>

    <%= f.input :machine_type, collection: Vessel::MACHINE_TYPES, label_type: lambda {|s| I18n.t("machine_types.#{s}") }  %>


    <%= f.input :length %>

    <%= f.input :tonnage %>

    <%= f.input :capacity %>

    <%= f.input :vms, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>


    <%= f.input :tracker, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>

    <%= f.input :port %>

    <%= f.input :flag_state, priority: [ "ID" ], as: :country, include_blank: true   %>


    <%= f.input :flag_state_changed, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>

    <%= f.input :radio, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>

    <%= f.input :year_built %>

    <%= f.input :location_built %>

    <%= f.input :captain %>

    <%= f.association :gear, label_method: :alpha_code, value_method: :id %>

    <%= f.input :hooks %>

    <%= f.input :fish_capacity %>

    <%= f.input :bait_capacity %>

    <%= f.input :crew %>

    <%= f.input :shark_policy, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>

    <%= f.input :iuu_list, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>

    <%= f.input :code_of_conduct, input_html: {
      class: 'toggle-switch',
      data: {
        size: 'mini',
        'on-color' => 'success',
        'off-color' => 'danger',
        'on-text' => "Yes",
        'off-text' => "No"
        }
      } %>


    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 form-actions">

      <%= content_tag :button, type: :submit, class: 'btn btn-primary pull-right', style:"margin-left:20px" do %>
        Save
      <% end %>


      <% if !f.object.new_record? %>
        <%= link_to "Cancel", @vessel, :class=>"btn pull-right" %>

      <% else %>
        <%= link_to "Cancel", vessels_path, :class=>"btn pull-right" %>
      <% end %>
    </div>
  </div>
<% end %>

<br />
