<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Operations</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= Vessel.human_attribute_name(:captain) %></dt>
      <dd><%= @vessel.captain %></dd>
      <dt><%= Vessel.human_attribute_name(:gear) %></dt>
      <dd><%= @vessel.gear.try(:name) %></dd>
      <dt><%= Vessel.human_attribute_name(:hooks) %></dt>
      <dd><%= @vessel.hooks %></dd>
      <dt><%= Vessel.human_attribute_name(:crew) %></dt>
      <dd><%= @vessel.crew %></dd>
      <dt><%= Vessel.human_attribute_name(:fish_capacity) %></dt>
      <dd><%= @vessel.fish_capacity %></dd>
      <dt><%= Vessel.human_attribute_name(:bait_capacity) %></dt>
      <dd><%= @vessel.bait_capacity %></dd>
    </dl>
  </div>
</div>