<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Target Species</h3>
  </div>
  <div class="panel-body">
    <% if can? :update, @fishery %>
      <%= form_tag fishery_add_fish_path(@fishery), class: "form", method: :post, remote: true do %>
        <%= label_tag 'fish[code]', 'Add a fish', class: 'sr-only' %>
        <div class="input-group">
          <%= text_field :fish, :code, class: "form-control", placeholder: "Add a target fish...", autocomplete: "off", data: { autocomplete_source: Fish.order(:code).map(&:code) } %>
          <div class="input-group-btn">
            <%= button_tag add_icon, class: "btn btn-success", id: 'add_fish', title: 'Add Fish' %>
          </div>
        </div>
      <% end %>

    <% end %>
    <%= render partial: 'fish_list' %>
  </div>
</div>
