<%= simple_form_for @fishery do |f| %>
  <% if @fishery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fishery.errors.count, "error") %> prohibited this fishery from being saved:</h2>

      <ul>
      <% @fishery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.input :name %>

    <%= f.input :code %>

    <%= f.association :protocol %>

    <%= f.association :protocol_id do %>
      <%= f.select :protocol_id, {include_blank:true} %>
    <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
