<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Member Vessels</h3>
  </div>
  <div class="panel-body">
    <% if can? :create, :memberships_vessels %>
      <%= form_tag fishery_add_vessel_path(@fishery), class: "form", method: :post, remote: true do %>
        <%= label_tag 'vessel[ap2hi_ref]', 'Add a vessel', class: 'sr-only' %>
        <div class="input-group">
          <%= text_field :vessel, :ap2hi_ref, class: "form-control", placeholder: "Add a vessel...", autocomplete: "off", data: { autocomplete_source: Vessel.order(:ap2hi_ref).map(&:ap2hi_ref) } %>
          <div class="input-group-btn">
            <%= button_tag add_icon, class: "btn btn-success", id: 'add_vessel', title: 'Add Vessel'%>
          </div>
        </div>
      <% end %>

    <% end %>
    <%= render partial: 'vessel_list' %>
  </div>
</div>
