<% title "Fisheries" %>

<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
  </tr>

<% @fisheries.each do |fishery| %>
  <tr>
    <td><%= fishery.name %></td>
    <td><%= fishery.code %></td>
    <td>
      <%= link_to show_icon, fishery %>
      <%= link_to edit_icon, edit_fishery_path(fishery) %>
      <%= link_to destroy_icon, fishery, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fishery', new_fishery_path %>
