<% title t ".title" %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "fishery_panel" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/file_upload", locals: { resource: @fishery } %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'shared/audit_table', locals: { parent: @fishery } %>
      </div>
    </div>
  </div>
  <div id="member_panel" class="col-xs-12 col-md-4">
    <%= render partial: "fish_panel" %>
    <%= render partial: "bait_panel" %>
    <%= render partial: "gear_panel" %>
    <%= render partial: "company_panel" %>
    <%= render partial: "office_panel" %>
  </div>
</div>

<%= link_to 'Edit', edit_fishery_path(@fishery) %> |
<%= link_to 'Back', fisheries_path %>
