<div class="container">
<div class="row">
  <p>
    <b>Name:</b>
    <%= @fishery.name %>
  </p>

  <p>
    <b>Code:</b>
    <%= @fishery.code %>
  </p>
</div>
<div class="row">

  <div id="graph_options">
    <select id="cpe_month_from">
      <% @month_names.each_with_index do |v,i| %>
        <option value="<%= i + 1 %>"><%= v.slice(0,3) %></option>
      <% end %>
    </select>
    <select id="cpe_year_from">
      <% (2010..2013).each do |y| %>
        <option value="<%= y %>" <%= "selected=\"selected\"".html_safe if y == Date.today.year %>><%= y %></option>
      <% end %>
    </select>
    <select id="cpe_month_to">
      <% @month_names.each_with_index do |v,i| %>
        <option value="<%= i + 1 %>"><%= v.slice(0,3) %></option>
      <% end %>
    </select>
    <select id="cpe_year_to">
      <% (2010..2013).each do |y| %>
        <option value="<%= y %>" <%= "selected=\"selected\"".html_safe if y == Date.today.year %>><%= y %></option>
      <% end %>
    </select>
    <button class="btn" id="cpe_btn_refresh">Refresh</button>
  </div>
</div>
<div class="row">
  <div id="graph_catch_per_effort_container"></div>
  <script type="text/javascript">
  	function update_catch_effort(){
  		console.log("Updating chart");
  		params = {
  			method: 'catch_per_effort',
  			month_from: $('#cpe_month_from').val(),
  			year_from: $('#cpe_year_from').val(),
  			month_to: $('#cpe_month_to').val(),
  			year_to: $('#cpe_year_to').val(),
  		}

  		$.get("/fisheries/<%= @fishery.id %>", params, function(data, textStatus, jqXHR){
  			console.log(data);
  			render_chart('graph_catch_per_effort_container','Catch per unit effort', 'Catch (kg)', '', 'line', data.col_headers, data.month_counts);
  		}, "json");
  	};

  	$(function () {
  		// Event handlers
  		$('#cpe_btn_refresh').click(function(){
  			update_catch_effort();
  		});

  		// Load chart with default values
  		update_catch_effort();
  	});
  </script>
</div>
<div class="row">
  <div id="graph_length_frequency_options">
    <select id="lf_month_from">
      <% @month_names.each_with_index do |v,i| %>
        <option value="<%= i + 1 %>"><%= v.slice(0,3) %></option>
      <% end %>
    </select>
    <select id="lf_year_from">
      <% (2010..2013).each do |y| %>
        <option value="<%= y %>" <%= "selected=\"selected\"".html_safe if y == Date.today.year %>><%= y %></option>
      <% end %>
    </select>
    <select id="lf_month_to">
      <% @month_names.each_with_index do |v,i| %>
        <option value="<%= i + 1 %>"><%= v.slice(0,3) %></option>
      <% end %>
    </select>
    <select id="lf_year_to">
      <% (2010..2013).each do |y| %>
        <option value="<%= y %>" <%= "selected=\"selected\"".html_safe if y == Date.today.year %>><%= y %></option>
      <% end %>
    </select>
    <button class="btn" id="btn_lf_refresh">Refresh</button>
  </div>
</div>
<div class="row">
  <div id="graph_length_frequency_container"></div>
  <script type="text/javascript">
  	function update_length_frequency(){
  		params = {
  			method: 'length_frequency',
        month_from: $('#lf_month_from').val(),
        year_from: $('#lf_year_from').val(),
        month_to: $('#lf_month_to').val(),
        year_to: $('#lf_year_to').val(),
  		}
  		$.get("/fisheries/<%= @fishery.id %>", params, function(data, textStatus, jqXHR){
  			console.log(data);
  			render_chart('graph_length_frequency_container', 'Length Frequency', 'Frequency in Size Class', 'Size Class', 'column', data.col_headers, data.length_counts);
  		}, "json");
  	};

  	$(function () {
      // Event handlers
      $('#btn_lf_refresh').click(function(){
        update_length_frequency();
      });

  		// Load chart with default values
  		update_length_frequency();
  	});
  </script>

  </div>
  <div class="row">
    <%= link_to 'Edit', edit_fishery_path(@fishery) %> |
    <%= link_to 'Back', fisheries_path %>
  </div>
</div>