
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Surveys">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Fishery:</Data></Cell>
        <Cell><Data ss:Type="String"><%= @fishery.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Exported:</Data></Cell>
        <Cell><Data ss:Type="String"><%= Date.today %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Desa</Data></Cell>
        <Cell><Data ss:Type="String">Survey Start</Data></Cell>
        <Cell><Data ss:Type="String">Survey End</Data></Cell>
        <Cell><Data ss:Type="String">Fleet Observer</Data></Cell>
        <Cell><Data ss:Type="String">Catch Scribe</Data></Cell>
        <Cell><Data ss:Type="String">Catch Measurer</Data></Cell>
      </Row>
    <% @fishery.approved_surveys.find_each do |survey| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= survey.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.desa.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.start_time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.end_time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.landing_enumerator.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.catch_scribe.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.catch_measurer.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Landings">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Fishery:</Data></Cell>
        <Cell><Data ss:Type="String"><%= @fishery.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Exported:</Data></Cell>
        <Cell><Data ss:Type="String"><%= Date.today %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Survey ID</Data></Cell>
        <Cell><Data ss:Type="String">Vessel No.</Data></Cell>
        <Cell><Data ss:Type="String">Vessel Name</Data></Cell>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <Cell><Data ss:Type="String">Power</Data></Cell>
        <Cell><Data ss:Type="String">Length</Data></Cell>
        <Cell><Data ss:Type="String">Fishing Grounds</Data></Cell>
        <Cell><Data ss:Type="String">Trip Start</Data></Cell>
        <Cell><Data ss:Type="String">Trip End</Data></Cell>
        <Cell><Data ss:Type="String">Aborted</Data></Cell>
        <Cell><Data ss:Type="String">Sail</Data></Cell>
        <Cell><Data ss:Type="String">Fuel</Data></Cell>
        <Cell><Data ss:Type="String">Crew</Data></Cell>
        <Cell><Data ss:Type="String">Gear</Data></Cell>
        <Cell><Data ss:Type="String">Ice</Data></Cell>
        <Cell><Data ss:Type="String">Conditions</Data></Cell>
        <Cell><Data ss:Type="String">Main Species</Data></Cell>
        <Cell><Data ss:Type="String">Catch Weight</Data></Cell>
        <Cell><Data ss:Type="String">Catch Quantity</Data></Cell>
        <Cell><Data ss:Type="String">Catch Value</Data></Cell>
      </Row>
    <% @fishery.approved_landings.find_each do |landing| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= landing.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= landing.survey_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.vessel_ref %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.vessel_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.power %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.boat_size %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.graticule.try(:code) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.time_out %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.time_in %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.aborted? ? 'Yes' : '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.sail? ? 'Yes' : 'No' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.fuel %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.crew %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.gear.try(:alpha_code) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.ice %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.condition_as_text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.fish.try(:scientific_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.weight %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.quantity %></Data></Cell>
        <Cell><Data ss:Type="String"><%= landing.value %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Sampled Catch">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Fishery:</Data></Cell>
        <Cell><Data ss:Type="String"><%= @fishery.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Exported:</Data></Cell>
        <Cell><Data ss:Type="String"><%= Date.today %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Landing ID</Data></Cell>
        <Cell><Data ss:Type="String">Survey ID</Data></Cell>
        <Cell><Data ss:Type="String">Species</Data></Cell>
        <Cell><Data ss:Type="String">Length</Data></Cell>
        <Cell><Data ss:Type="String">Sampling Factor</Data></Cell>
        <Cell><Data ss:Type="String">Measurement</Data></Cell>
      </Row>
    <% @fishery.approved_catches.first(5).each do |catch| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= catch.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= catch.landing_id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= catch.landing.survey_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= catch.fish.try(:scientific_name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= catch.length %></Data></Cell>
        <Cell><Data ss:Type="String"><%= catch.sfactor %></Data></Cell>
        <Cell><Data ss:Type="String"><%= catch.measurement %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>