
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Surveys">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Fishery:</Data></Cell>
        <Cell><Data ss:Type="String"><%= @fishery.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Exported:</Data></Cell>
        <Cell><Data ss:Type="String"><%= Date.today %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Desa</Data></Cell>
        <Cell><Data ss:Type="String">Survey Start</Data></Cell>
        <Cell><Data ss:Type="String">Survey End</Data></Cell>
        <Cell><Data ss:Type="String">Fleet Observer</Data></Cell>
        <Cell><Data ss:Type="String">Catch Scribe</Data></Cell>
        <Cell><Data ss:Type="String">Catch Measurer</Data></Cell>
      </Row>
    <% @fishery.approved_surveys.find_each do |survey| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= survey.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.desa.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.start_time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.end_time %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.landing_enumerator.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.catch_scribe.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= survey.catch_measurer.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
  
</Workbook>