<% title "Roles" %>

<div class="row">
	<div class="panel span4">

		<%= simple_form_for [:panel, @new_role], remote: true do |f| %>
			<%= f.error_notification  %>
  
  		<%= f.input :name, :wrapper => :append, label: false do %>
    		<%= f.input_field :name, placeholder: "Add a new role..." %><%= button_tag add_icon, type: 'submit', class: 'btn btn-success' %>
  		<% end %>

		<% end %>

		<%= render partial: 'role_list' %>
	</div>
</div>

