







<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= link_to "Cancel", polymorphic_url(@auditable), :class=>"btn btn-default btn-block btn-sm" %>
  </div>
</div>

<br / />

<div class="row">

  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <dl class='dl-horizontal'>
      <dt>By:</dt>
      <dd><%= current_admin.name %></dd>
      <dt>Date:</dt>
      <dd><%= Date.today.to_s(:long) %></dd>
      <dt>Type:</dt>
      <dd><%= @auditable.class.name %></dd>
      <dt>For:</dt>
      <% if @auditable.class.name == 'Vessel' %>
        <dd><%= @auditable.name %> <small>(<%= @auditable.ap2hi_ref %>)</small></dd>
      <% elsif @auditable.class.name == 'Company' %>
        <dd><%= @auditable.name %></dd>
      <% end %>
  </div>
</div>



<%= simple_form_for  [@auditable, @audit], html: {class: 'form form-horizontal'} do |f| %>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= f.input :comment %>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-sm-offset-3'>
      <div class='btn-group btn-group-justified' role="group" aria-label="audit_status_buttons">
        <div class="btn-group" role="group">
          <%= f.submit value: 'Reject', class: 'btn btn-danger btn-lg' %>
        </div>
        <div class="btn-group" role="group">
          <%= f.submit value: 'Approve', class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />



<% end %>

<br />
