









<%= simple_form_for  [@auditable, @audit], html: {class: 'form form-horizontal'} do |f| %>
  

  <div class="row">
  
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <dl class='dl-horizontal'>
        <dt>By:</dt>
        <dd><%= current_admin.name %></dd>
        <dt>Date:</dt>
        <dd><%= Date.today.to_s(:long) %></dd>
        <dt>Type:</dt>
        <dd><%= @auditable.class.name %></dd>
        <dt>For:</dt>
        <% if @auditable.class.name == 'Vessel' %>
          <dd><%= @auditable.name %> <small>(<%= @auditable.ap2hi_ref %>)</small></dd>
        <% elsif @auditable.class.name == 'Company' %>
          <dd><%= @auditable.name %></dd>
        <% end %>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6 col-md-offset-3">
    
      <%= f.input :comment %>

    </div>

  </div>

  <div class="row">

      <div class="col-xs-6">
        <%= f.radio_button :status, "rejected", onclick: "this.form.submit();", class: 'sr-only' %>
        <%= f.label :status, "Reject", value: "rejected", class: "btn btn-block btn-danger btn-lg #{@audit.rejected? ? 'active' : ''}" %>
      </div>

      <div class="col-xs-6">
        <%= f.radio_button :status, "approved", onclick: "this.form.submit();", class: 'sr-only' %>
        <%= f.label :status, "Approve", value: "approved", class: "btn btn-block btn-success btn-lg #{@audit.approved? ? 'active' : ''}" %>
      </div>
  
    </div>

  </div>

  <br />
  <br />

  <div class="row">
    <div class="col-xs-12">

      <% if !f.object.new_record? %>
        <%= link_to "Cancel", polymorphic_url(@auditable), :class=>"btn btn-default btn-block btn-sm" %>

      <% else %>
        <%= link_to "Cancel", polymorphic_url(@auditable), :class=>"btn btn-default btn-block btn-sm" %>
      <% end %> 
    </div>
  </div>
    
<% end %>

<br />
