<%= form_for(@desa) do |f| %>
  <% if @desa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@desa.errors.count, "error") %> prohibited this desa from being saved:</h2>

      <ul>
      <% @desa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
