<% title "Desas" %>



<%= render partial: 'shared/maps/wide' %>

<div class="row">
  <div class="span12">
    <table class="table table-striped table-condensed" id="desa_table">
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th></th>
      </tr>

      <% @desas.each do |desa| %>
        <tr>
          <td><%= desa.name %></td>
          <td><%= desa.code %></td>
          <td style="display:none;"><%= desa.lat %></td>
          <td style="display:none;"><%= desa.lng %></td>
          <td>
            <%= link_to show_icon, desa %>
            <%= link_to edit_icon, edit_desa_path(desa) %>
            <%= link_to destroy_icon, desa, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<br />

<%= link_to 'New Desa', new_desa_path %>

