<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @desa.name %>
</p>

<p>
  <b>Kabupaten:</b>
  <%= @desa.kabupaten %>
</p>


<%= link_to 'Edit', edit_desa_path(@desa) %> |
<%= link_to 'Back', desas_path %>
