
  <div id="bait_loading_table" class="panel panel-default hidden-xs">
    <div class="panel-heading">
      <h3 class="panel-title">Recent Bait Loadings</h3>
    </div>
    <% if @company.bait_loadings.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th class='hidden-xs'><%= BaitLoading.human_attribute_name(:formatted_date) %></th>
            <th><%= BaitLoading.human_attribute_name(:bait) %></th>
            <th><%= BaitLoading.human_attribute_name(:quantity) %></th>
          </tr>
        </thead>
        <tbody>
          <% @company.bait_loadings.default.first(5).each do |bait_loading| %>
            <tr>
              <td><%= bait_loading.formatted_date %></td>
              <td><%= bait_loading.bait.try(:code) %></td>
              <td><%= bait_loading.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class='text-center'><i>None</i></p>
    <% end %>
    <% if can? :index, BaitLoading.new(vessel_id: @company.vessels.pluck(:id) ) %>
      <div class="panel-footer text-right">
        <%= link_to "View all", company_bait_loadings_path(@company) %>
      </div>
    <% end %>

  </div>
