<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Details</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= Company.human_attribute_name(:name) %></dt>
      <dd><%= @company.name %></dd>
      <dt><%= Company.human_attribute_name(:shark_policy) %></dt>
      <dd><%= human_bool(@company.shark_policy) %></dd>
      <dt><%= Company.human_attribute_name(:iuu_list) %></dt>
      <dd><%= human_bool(@company.iuu_list) %></dd>
      <dt><%= Company.human_attribute_name(:code_of_conduct) %></dt>
      <dd><%= human_bool(@company.code_of_conduct) %></dd>
      <dt><%= Company.human_attribute_name(:member) %></dt>
      <dd><%= human_bool(@company.member) %></dd>
    </dl>
  </div>
</div>