<% title t ".title" %>

<div class="row">
  <div class="col-xs-6">
    
  </div>
</div>

<div class="row">
  <div id="member_panel" class="col-xs-12 col-md-4 col-md-push-8">
    <% if @company.has_fishing_vessels? %>
      <%= link_to "View unloading reports", company_unloadings_path(@company), class: 'btn btn-primary btn-lg btn-block' %>
      <%= link_to "View bait loading reports", company_bait_loadings_path(@company), class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
    <% if @company.has_carrier_vessels? %>
      <%= link_to "View carrier loading reports", company_carrier_loadings_path(@company), class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
    <% if @company.has_fishing_vessels? || @company.has_carrier_vessels? %>
      <br />
    <% end %>
    <%= render partial: "vessel_panel" %>
  </div>
  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "company_panel" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'shared/file_upload', locals: { resource: @company } %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'shared/audit_table', locals: { parent: @company } %>
      </div>
    </div>
  </div>
  
</div>

<div class="row">
  <div class="col-xs-6">
    <%= link_to 'Back', companies_path, class: 'btn btn-block btn-primary' %>
  </div>
  <div class="col-xs-6">
    <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-block btn-primary' %>
  </div>
</div>

