<% title t ".title" %>


<%= render partial: 'shared/chartable', locals: { object: @company } %>





<div class="row">
  <div id="member_panel" class="col-xs-12 col-md-4 col-md-push-8">

    <% if @company.has_carrier_vessels? %>
      <% if can? :read, CarrierLoading %>
        <%= link_to "View carrier loading reports", company_carrier_loadings_path(@company), class: 'btn btn-primary btn-lg btn-block'
        %>
      <% end %>
    <% end %>


    <%= render partial: 'admin_panel' %>
    <%= render partial: "vessel_panel" %>
  </div>
  <div class="col-xs-12 col-md-8 col-md-pull-4">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "company_panel" %>
      </div>
    </div>
    <% if can? :edit, @company %>
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'shared/file_upload', locals: { resource: @company } %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'unloadings_table' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'bait_loadings_table' %>
      </div>
    </div>
    <% if can? :edit, @company %>
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'shared/audit_table', locals: { parent: @company } %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-xs-6">
    <%= link_to 'Back', companies_path, class: 'btn btn-block btn-primary' %>
  </div>
  <div class="col-xs-6">
    <% if can? :edit, @company %>
      <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-block btn-primary' %>
    <% end %>
  </div>
</div>




<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);


      function drawChart() {
        $( ".fuel-utilization" ).each(function( index ) {
          var url = $( this ).data('url');
        	var data
        	$.get( url, function( response ) {

          	data = response  ;
          	data = google.visualization.arrayToDataTable( data )
          	var options = {
  	          title: $( this ).data('title'),
  	          hAxis: {title: 'Fuel', minValue: 0, maxValue: 15},
  	          vAxis: {title: 'Catch', minValue: 0, maxValue: 15},
  	          legend: 'none'
  	        };
  	        var chart = new google.visualization.ScatterChart( $( this ) );

  	        chart.draw(data, options);
          });
        });
      }










    </script>
