<%= form_for(@gear) do |f| %>
  <% if @gear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gear.errors.count, "error") %> prohibited this gear from being saved:</h2>

      <ul>
      <% @gear.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cat_ind %><br />
    <%= f.text_field :cat_ind %>
  </div>
  <div class="field">
    <%= f.label :cat_eng %><br />
    <%= f.text_field :cat_eng %>
  </div>
  <div class="field">
    <%= f.label :sub_cat_ind %><br />
    <%= f.text_field :sub_cat_ind %>
  </div>
  <div class="field">
    <%= f.label :sub_cat_eng %><br />
    <%= f.text_field :sub_cat_eng %>
  </div>
  <div class="field">
    <%= f.label :type_ind %><br />
    <%= f.text_field :type_ind %>
  </div>
  <div class="field">
    <%= f.label :type_eng %><br />
    <%= f.text_field :type_eng %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :alpha_code %><br />
    <%= f.text_field :alpha_code %>
  </div>
  <div class="field">
    <%= f.label :num_code %><br />
    <%= f.text_field :num_code %>
  </div>
  <div class="field">
    <%= f.label :fao_code %><br />
    <%= f.text_field :fao_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
