<% title "Gears" %>

<table class="table table-striped table-condensed">
  <tr>
    <th>Category</th>
    <th>Sub-category</th>
    <th>Type</th>
    <th>Name</th>
    <th>KKP Code</th>
    <th>FAO Code</th>
    <th>Num Code</th>
    <th></th>
  </tr>

<% @gears.each do |gear| %>
  <tr>
    <td>
        <%= gear.cat_ind %> <br />
        <small><%= gear.cat_eng %></small>
    </td>
    <td>
        <%= gear.sub_cat_ind %> <br />
        <small><%= gear.sub_cat_eng %></small>
    </td>
    <td>
        <%= gear.type_ind %> <br />
        <small><%= gear.type_eng %></small>
    </td>
    <td><%= gear.name %></td>
    <td><%= gear.alpha_code %></td>
    <td><%= gear.fao_code %></td>
    <td><%= gear.num_code %></td>
    <td>
        <%= link_to show_icon, gear %>
        <%= link_to edit_icon, edit_gear_path(gear) %>
        <%= link_to destroy_icon, gear, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gear', new_gear_path %>
