<% title @gear.name %>

<%= render partial: "shared/api_links", locals: {json: true, xml: true} %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'gear_panel'%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'shared/audit_table', locals: { parent: @gear } %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
  </div>
</div>

<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>