<p>
  <b>Cat ind:</b>
  <%= @gear.cat_ind %>
</p>

<p>
  <b>Cat eng:</b>
  <%= @gear.cat_eng %>
</p>

<p>
  <b>Sub cat ind:</b>
  <%= @gear.sub_cat_ind %>
</p>

<p>
  <b>Sub cat eng:</b>
  <%= @gear.sub_cat_eng %>
</p>

<p>
  <b>Type ind:</b>
  <%= @gear.type_ind %>
</p>

<p>
  <b>Type eng:</b>
  <%= @gear.type_eng %>
</p>

<p>
  <b>Name:</b>
  <%= @gear.name %>
</p>

<p>
  <b>Alpha code:</b>
  <%= @gear.alpha_code %>
</p>

<p>
  <b>Num code:</b>
  <%= @gear.num_code %>
</p>

<p>
  <b>Fao code:</b>
  <%= @gear.fao_code %>
</p>


<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>
