<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date_published %>
  </div>
    <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= "Desa" %><br />
    <%= f.select :desa_id, options_for_select(Desa.all.collect {|d|[d.name, d.id]}) %>
  </div>
  <div class="field">
    <%= f.label :fleet_observer %><br />
    <%= f.text_field :fleet_observer %>
  </div>
  <div class="field">
    <%= f.label :catch_measure %><br />
    <%= f.text_field :catch_measure %>
  </div>
  <div class="field">
    <%= f.label :catch_scribe %><br />
    <%= f.text_field :catch_scribe %>
  </div>
  <div class="field">
    <%= "Fishery" %><br />
    <%= f.select :fishery_id, options_for_select(Fishery.all.collect {|d|[d.name, d.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
