<% if can? :update, @survey %>
  <div class="row">
    <div class="col-xs-4">
      <%= link_to :back  do %>
        <%= icon 'arrow-left', "Back" %>
      <% end %>
    </div>
    <div class="col-xs-6 col-xs-offset-2">
      <div class="row">
        <%= link_to reject_survey_path(@survey),
          class: "col-xs-4 btn btn-lg #{@survey.rejected? ? 'btn-danger' : 'btn-default' }",
          method: :put,
          remote: true do
          %>
            <%= icon 'remove', "", class: 'fa-lg' %>
            Rejected
        <% end %>
        <%= link_to pend_survey_path(@survey),
          class: "col-xs-4 btn btn-lg #{@survey.pending? ? 'btn-warning' : 'btn-default' }",
          method: :put,
          remote: true do
          %>
          <%= icon 'warning', "", class: 'fa-lg' %>
          Pending
        <% end %>
        <%= link_to approve_survey_path(@survey),
          class: "col-xs-4 btn btn-lg #{@survey.approved? ? 'btn-success' : 'btn-default' }",
          method: :put,
          remote: true do
          %>
          <%= icon 'check', "", class: 'fa-lg' %>
          Approved
        <% end %>
      </div>
    </div>
  </div>

<% end %>
