<% title t ".title" %>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
        
          <dt><%= Protocol.human_attribute_name(:title) %></dt>
          <dd><%= @protocol.title %></dd>
          
          <dt><%= Protocol.human_attribute_name(:description) %></dt>
          <dd><%= @protocol.description %></dd>

        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= render partial: 'shared/file_upload', locals: { resource: @protocol } %>
  </div>

</div>

<%= render partial: 'shared/audit_table', locals: { parent: @protocol } %>



<%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<%= link_to 'Back', protocols_path %>





