<ul class="nav">
  <li><%= link_to home_icon, root_path, title: t("navbar.home")  %></li>
  <li class="divider-vertical"></li>
  <% if admin_signed_in? %>
  	<li class="navbar-red">
	    <%= link_to home_upload_data_path, class: "", title: t("navbar.upload") do %>
	      <%= upload_icon %>
	    <% end %>
    </li>
	  <li class="dropdown navbar-yellow">
      <%= link_to supervisor_dashboard_index_path, class: "", title: t("navbar.upload") do %>
        <%= approve_icon %>
      <% end %>
	  </li>
  <% end %>   
  <li class="dropdown navbar-green">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=<%= t("navbar.reports") %> ><%= report_icon %><b class="caret"></b></a>
    <ul class="dropdown-menu pull-right">
      <% if admin_signed_in? || user_signed_in? %>
        <li>
          <%= link_to t("fisheries.title"), fisheries_path %>
        </li>
        <li>
          <%= link_to t("desas.title"), desas_path %>
        </li>
        <li>
          <%= link_to t("districts.title"), districts_path %>
        </li>
        <li>
          <%= link_to t("provinces.title"), provinces_path %>
        </li>
        <li>
          <%= link_to t("users.title"), users_path %>
        </li>
        <li>
          <%= link_to t("admins.title"), admins_path %>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="divider-vertical"></li>
  <% if admin_signed_in? || user_signed_in? %>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=<%= t("navbar.settings") %> ><%= settings_icon %><b class="caret"></b></a>
	    <ul class="dropdown-menu pull-right">
        <li><%= link_to t("fishes.title"), fishes_path %></li>
        <li><%= link_to t("gears.title"), gears_path %></li>
        <% if admin_signed_in? %>
        	<li><%= link_to "Admins", panel_admins_path %></li>
	        <li><%= link_to "Users", panel_users_path %></li>
	        <li><%= link_to "Roles", panel_roles_path %></li>
	       <% end %>
	    </ul>
	  </li>
	  <li class="divider-vertical"></li>
	<% end %>
</ul>