<ul class="nav navbar-nav">
  <li>
    <%= link_to root_path, title: t("navbar.home") do %>
      <%= icon fa_home, "", class: 'fa-2x' %>
    <% end %>
  </li>
  <li class="divider-vertical"></li>
  <% if admin_signed_in? %>
    <li id="nav_upload" class="navbar-red">
      <%= link_to home_upload_data_path, class: "", title: t("navbar.upload") do %>
        <%= icon fa_submit, "", class: 'fa-2x' %>
      <% end %>
    </li>
    <% if can? :view, 'supervisor/dashboard' %>
      <li id="nav_review" class="navbar-yellow">
        <%= link_to supervisor_dashboard_index_path, class: "", title: t("navbar.data") do %>
          <%= icon fa_approve, '', class: 'fa-2x' %>
        <% end %>
      </li>
    <% end %>
    <% if can? :view, 'staff/dashboard' %>
      <li id="nav_staff" class="navbar-yellow">
        <%= link_to staff_dashboard_index_path, class: "", title: t("navbar.staff") do %>
          <%= icon fa_approve, '', class: 'fa-2x' %>
          <% if @staff_dashboard_pending > 0 %>
            <span class="badge">
              <%= @staff_dashboard_pending %>
            </span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %> 

  <% if can? :reports, :home %>
    <li id="nav_reports" class="navbar-green">
      <%= link_to reports_path, class: "", title: t("navbar.reports") do %>
        <%= icon fa_reports, '', class: 'fa-2x' %>
      <% end %>
    </li>
  <li class="divider-vertical"></li>
  <% end %>

  <% if can? :index, Protocol %>
    <li id="nav_protocols">
      <%= link_to protocols_path, class: "", title: t("navbar.download") do %>
        <%= icon fa_protocols, '', class: 'fa-2x' %>    
      <% end %>
    </li>
  <% end %>

  <li class="divider-vertical"></li>

  <% if admin_signed_in? || user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title=<%= t("navbar.settings") %> ><%= icon fa_settings, "", class: 'fa-2x' %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if can? :index, Fish %>
          <li><%= link_to t("fishes.title"), fishes_path %></li>
        <% end %>
        <% if can? :index, Bait %>
          <li><%= link_to t("baits.title"), baits_path %></li>
        <% end %>
        <% if can? :index, Gear %>
          <li><%= link_to t("gears.title"), gears_path %></li>
        <% end %>
        <% if can? :index, SizeClass %>
          <li><%= link_to t("size_classes.title"), size_classes_path %></li>
        <% end %>
        <% if can? :index, Company %>
          <li><%= link_to t("companies.title"), companies_path %></li>
        <% end %>
        <% if can? :index, Vessel %>
          <li><%= link_to t("vessels.title"), vessels_path %></li>
        <% end %>
        <% if admin_signed_in? %>
          <% if can? :read, 'panel/admins' %>
            <li><%= link_to "Admins", panel_admins_path %></li>
          <% end %>
          <% if can? :read, 'panel/users' %>
            <li><%= link_to "Users", panel_users_path %></li>
          <% end %>
          <% if can? :read, Role %>
            <li><%= link_to "Roles", panel_roles_path %></li>
          <% end %>
          <% if can? :read, Office %>
            <li><%= link_to "Offices", offices_path %></li>
          <% end %>
         <% end %>
      </ul>
    </li>
    <li class="divider-vertical"></li>
  <% end %>
</ul>
