<h3>Overview</h3>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Desa.human_attribute_name(:name) %></th>
    <th></th>
    <th>This month</th>
    <th>Last month</th>
  </tr>
  <tr>
    <th>Surveys</th>
    <td><%= Survey.completed_this_month >= Survey.completed_last_month ? up_arrow : down_arrow %></td>
    <td><%= Survey.completed_this_month %></td>
    <td><%= Survey.completed_last_month %></td>
  </tr>
  <tr>
    <th>Logbooks</th>
    <td><%= Logbook.completed_this_month >= Logbook.completed_last_month ? up_arrow : down_arrow %></td>
    <td><%= Logbook.completed_this_month %></td>
    <td><%= Logbook.completed_last_month %></td>
  </tr>
</table>