<h3>Surveys</h3>
<%= link_to "See All", surveys_path %>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Survey.human_attribute_name(:date_published) %></th>
    <th><%= Survey.human_attribute_name(:time) %></th>
    <th><%= Survey.human_attribute_name(:fishery_id) %></th>
    <th><%= Survey.human_attribute_name(:desa_id) %></th>
    <th><%= Survey.human_attribute_name(:survey_team) %></th>
    <th><%= Survey.human_attribute_name(:uploader) %></th>    
    <th></th>
  </tr>

  <%if @surveys.empty? %>
		<tr>
			<td colspan="7" style="text-align:center;"><i>NO UNAPPROVED SURVEYS</i></td>
		</tr>
	<% else %>
    <% @surveys.each do |survey| %>
      <tr class=<%= survey.approved == false ? 'error' : '' %> >
        <td><%= survey.date_published.to_s(:rfc822) rescue '' %></td>
        <td><%= survey.start_time.to_s(:time) %> - <%= survey.end_time.to_s(:time) %></td>
        <td><%= survey.fishery.name rescue ''%></td>
        <td><%= survey.desa.name rescue '' %></td>
        <td><%= survey.fleet_observer %><%= survey.catch_measure %><%= survey.catch_scribe %></td>
        <td><%= link_to image_tag(survey.admin.avatar_url(:thumb), 
            width: "30px", 
            height: "30px", 
            title: survey.admin.name, 
            alt: survey.admin.name),
            survey.admin %></td>
        
        <td>
          <%= link_to show_icon, survey %>
        </td>
      </tr>
    <% end %>
	<% end %>
</table>