<h1><%= @provice.name %></h1>

<h5>Effort by Gear (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Gear.human_attribute_name(:name) %></th>
    <% for fishery in @fisheries %>
      <th class="rotated-cell">
        <div class="rotate-text">
          <%= link_to fishery.code, fishery, title: fishery.name %>
        </div>
      </th>
    <% end %>
  </tr>
  <% for gear in @gears %>
    <tr>
      <td><%= link_to gear.name, gear %></td>
      <% for fishery in @fisheries %>
        <td class="data-cell">
          <%= @fishery_av_cpue_by_gears[[fishery.id, fishery.name, gear.id]] || "-" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />

<h5>Effort by Species (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Fish.human_attribute_name(:scientific_name) %></th>
    <% for fishery in @fisheries %>
      <th class="rotated-cell">
        <div class="rotate-text">
          <%= link_to fishery.code, fishery, title: fishery.name %>
        </div>
      </th>
    <% end %>
  </tr>
  <% for fish in @fishes %>
    <tr>
      <td><%= link_to fish.scientific_name, fish %></td>
      <% for fishery in @fisheries %>
        <td class="data-cell">
          <%= @fishery_av_cpue_by_species[[fish.id, fish.scientific_name, fishery.id]] || "-" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />

<h5>Effort by Gear (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Gear.human_attribute_name(:name) %></th>
    <% for district in @districts %>
      <th class="rotated-cell">
        <div class="rotate-text">
          <%= link_to district.name, district, title: district.name %>
        </div>
      </th>
    <% end %>
  </tr>
  <% for gear in @gears %>
    <tr>
      <td><%= link_to gear.name, gear %></td>
      <% for district in @districts %>
        <td class="data-cell">
          <%= @district_av_cpue_by_gears[[gear.id, gear.name, district.id]] || "-" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />

<h5>Effort by Species (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Fish.human_attribute_name(:scientific_name) %></th>
    <% for district in @districts %>
      <th class="rotated-cell">
        <div class="rotate-text">
          <%= link_to district.name, district, title: district.name %>
        </div>
      </th>
    <% end %>
  </tr>
  <% for fish in @fishes %>
    <tr>
      <td><%= link_to fish.scientific_name, fish %></td>
      <% for district in @districts %>
        <td class="data-cell">
          <%= @district_av_cpue_by_species[[fish.id, fish.scientific_name, district.id]] || "-" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>