<% title t ".title" %>



<%= render partial: "shared/api_links", :locals => { xls: true, pdf: true, csv: false, json: true, xml: true } %>

<%= simple_form_for(@province, 
                :as => 'province', 
                :url => province_path(@province), 
                :html => { 
                  :class => 'form-horizontal', 
                  :method => 'get', 
                  :multipart => true 
                },
                remote: true
                ) do |f| %>
  Select report year: 

  <% if Survey.exists? %>
  
    <%= f.input :year, 
      collection: Survey.first(order: 'date_published ASC').date_published.year..Survey.last(order: 'date_published ASC').date_published.year,
      selected: Date.today.year,
      input_html: {
        class: "report_year"
        } %>
    <% end %>

<% else %>

  <i>No survey data uploaded</i>

<% end %>
  

<%= render partial: 'fishery_cpue_by_gear' %>

<%= render partial: 'fishery_cpue_by_species' %>

<%= render partial: 'district_cpue_by_gear' %>

<%= render partial: 'district_cpue_by_species' %>

<div class="row">
  <%= link_to 'Edit', edit_province_path(@province) %> |
  <%= link_to 'Back', provinces_path %>
</div>
