<% title t ".title" %>

<%= render partial: "shared/api_links" %>

<h5>Effort by Gear (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Fishery.human_attribute_name(:name) %></th>
    <% for gear in @province.gears.uniq %>
      <th class="rotated_cell"><div class="rotate_text"><%= link_to gear.alpha_code, gear, title: gear.name %></div></th>
    <% end %>
  </tr>
  <% for fishery in @province.fisheries.uniq %>
    <tr>
      <td><%= fishery.name %></td>
      <% for gear in @province.gears.uniq %>
        <td><%= gear.landings.average(:cpue).round(2) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />

<h5>Effort by Species (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= Fishery.human_attribute_name(:name) %></th>
    <% for fish in @province.fishes.uniq %>
      <th><%= link_to fish.code, fish, title: fish.scientific_name %></th>
    <% end %>
  </tr>
  <% for fishery in @province.fisheries.uniq %>
    <tr>
      <td><%= fishery.name %></td>
      <% for fish in @province.fishes.uniq %>
        <td><%= fish.landings.average(:cpue).round(2) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />

<h5>Effort by Gear (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= District.human_attribute_name(:name) %></th>
    <% for gear in @province.gears.uniq %>
      <th><%= link_to gear.alpha_code, gear, title: gear.name %></th>
    <% end %>
  </tr>
  <% for district in @province.districts.uniq %>
    <tr>
      <td><%= district.name %></td>
      <% for gear in @province.gears.uniq %>
        <td><%= gear.landings.average(:cpue).round(2) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />

<h5>Effort by Species (kg per person per hour)</h5>
<table class="table table-striped table-condensed">
  <tr>
    <th><%= District.human_attribute_name(:name) %></th>
    <% for fish in @province.fishes.uniq %>
      <th><%= link_to fish.code, fish, title: fish.scientific_name %></th>
    <% end %>
  </tr>
  <% for district in @province.districts.uniq %>
    <tr>
      <td><%= district.name %></td>
      <% for fish in @province.fishes.uniq %>
        <td><%= fish.landings.average(:cpue).round(2) %></td>
      <% end %>
    </tr>
  <% end %>
</table>


<div class="row">
  <%= link_to 'Edit', edit_province_path(@province) %> |
  <%= link_to 'Back', provinces_path %>
</div>
