
<%= simple_form_for @fish, html: {class: 'form form-horizontal'} do |f| %>
  
  <div class="row">

    <div class="span6">
  
      <%= f.input :order %>
    
      <%= f.input :family %>
    
      <%= f.input :scientific_name %>
    
      <%= f.input :fishbase_name %>
    
      <%= f.input :english_name %>
    
      <%= f.input :indonesia_name %>
    
      <%= f.input :code %>

      <%= f.input :a %>
   
      <%= f.input :b %>

      <%= f.input :max %>

      <%= f.input :mat %>

      <%= f.input :opt %>
  
    </div>

    <div class="span6">



      
      <div class="control-group">
        <%= f.label :threatened, class: "toggle-label" %>
        <div class="controls toggle switch switch-large" data-on-label="Yes" data-off-label="No" data-on-color="danger" data-off-color="" > 
            <%= f.check_box :threatened %>
        </div>
      </div>

    </div>

  </div>
    

  <div class="form-actions">

    <%= content_tag :button, type: :submit, class: 'btn btn-primary pull-right', style:"margin-left:20px" do %>
      Save
    <% end %>


    <% if !f.object.new_record? %>
      <%= link_to "Cancel", @fish, :class=>"btn pull-right" %>

    <% else %>
      <%= link_to "Cancel", fishes_path, :class=>"btn pull-right" %>
    <% end %> 
  </div>
<% end %>
