<% title t ".title" %>

<%= link_to new_fish_path, class: "btn btn-mini", title: "Create new fish", alt: "New fish" do %>
  <%= add_icon %>
  NEW
<% end %>

<%= render partial: "shared/api_links" %>



<table  class="table table-striped table-condensed">
  <tr>
    <th><%= Fish.human_attribute_name(:order) %></th>
    <th><%= Fish.human_attribute_name(:family) %></th>
    <th><%= Fish.human_attribute_name(:scientific_name) %></th>
    <th><%= Fish.human_attribute_name(:english_name) %></th>
    <th><%= Fish.human_attribute_name(:indonesian_name) %></th>
    <th><%= Fish.human_attribute_name(:code) %></th>
    <th></th>
  </tr>

<% @fishes.each do |fish| %>
  <tr>
    <td><%= fish.order %></td>
    <td><%= fish.family %></td>
    <td><%= fish.scientific_name %></td>
    <td><%= link_to truncate(fish.english_name, length: 28), fish, title: fish.english_name %></td>
    <td><%= fish.indonesia_name %></td>
    <td><%= fish.code %></td>
    <td>
        <%= link_to show_icon, fish %> 
        <%= link_to edit_icon, edit_fish_path(fish) %> 
        <%= link_to destroy_icon, fish, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fish', new_fish_path %>
