<% title @fish.scientific_name %>

<%= render partial: "shared/api_links", locals: {json: true, xml: true} %>

<div class="row">

  <% if @fish.threatened == true %>
    <div class="alert alert-error">
      <strong>Threatened Species</strong>
    </div>
  <% end %>
  

  <div class="span6">

    Name:

    <dl class="dl-horizontal">
      
      <dt><%= Fish.human_attribute_name(:code) %></dt>
      <dd><%= @fish.code %></dd>
      
      <dt><%= Fish.human_attribute_name(:order) %></dt>
      <dd><%= @fish.order %></dd>

      <dt><%= Fish.human_attribute_name(:family) %></dt>
      <dd><%= @fish.family %></dd>

      <dt><%= Fish.human_attribute_name(:scientific_name) %></dt>
      <dd><%= @fish.scientific_name %></dd>

      <dt><%= Fish.human_attribute_name(:fishbase_name) %></dt>
      <dd><%= @fish.fishbase_name %></dd>

      <dt><%= Fish.human_attribute_name(:english_name) %></dt>
      <dd><%= @fish.english_name %></dd>

      <dt><%= Fish.human_attribute_name(:indonesia_name) %></dt>
      <dd><%= @fish.indonesia_name %></dd>

    </dl>

  </div>

  <div class="span6">

    Biology:

    <dl class="dl-horizontal">

      <dt><%= Fish.human_attribute_name(:a) %></dt>
      <dd><%= @fish.a? ? @fish.a : "-" %></dd>

      <dt><%= Fish.human_attribute_name(:b) %></dt>
      <dd><%= @fish.b? ? @fish.b : "-" %></dd>

      <dt><%= Fish.human_attribute_name(:max) %></dt>
      <dd><%= @fish.max? ? "#{@fish.max} mm" : "-" %></dd>

      <dt><%= Fish.human_attribute_name(:mat) %></dt>
      <dd><%= @fish.mat? ? "#{@fish.mat} mm" : "-" %></dd>

      <dt><%= Fish.human_attribute_name(:opt) %></dt>
      <dd><%= @fish.opt? ? "#{@fish.opt} mm" : "-" %></dd>

    </dl>

  </div>

</div>

<%= render partial: 'shared/audit_table', locals: { parent: @fish } %>



<%= link_to 'Edit', edit_fish_path(@fish) %> |
<%= link_to 'Back', fishes_path %>
