<% title @fish.scientific_name %>

<%= render partial: "shared/api_links", locals: {json: true, xml: true} %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="row">
      <% if @fish.threatened? %>
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-danger">
              <strong>
                <%= icon fa_warning, 'Endangered, Threatened, or Protected Species', class: 'fa-2x' %>
              </strong>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="col-xs-12 col-md-6">
        <%= render partial: "fish_panel" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= render partial: "biology_panel" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'shared/audit_table', locals: { parent: @fish } %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
  </div>
</div>

  

<%= link_to 'Edit', edit_fish_path(@fish) %> |
<%= link_to 'Back', fishes_path %>