<div id="templates_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="templates_modal_Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Download Templates</h3>
      </div>
      <div class="modal-body">

        <h4>Small Pelagics</h4>
            
        <%= link_to "/templates/SmallPelagicLandingSite.template.xlsx", title: "Small Pelagic Landing Site Survey template" do %>
          <div class="modal-icon">
            <%= excel_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.small_pelagic_survey.spreadsheet.title") %></b>
            <br />
            <small><%= t("modal.download.small_pelagic_survey.spreadsheet.text") %></small>
          </div>
        <% end %>
        
        <br />
        <br />
        
        <%= link_to "/templates/SmallPelagicLogbook.template.xlsx", title: "Small Pelagic Logbook template" do %>
          <div class="modal-icon">
            <%= excel_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.small_pelagic_logbook.spreadsheet.title") %></b>
            <br />
            <small><%= t("modal.download.small_pelagic_logbook.spreadsheet.text") %></small>
          </div>
        <% end %>

        <br />
        <br />
        
        <%= link_to "/templates/SmallPelagic.FormA.pdf", title: "Small Pelagic Survey Form A" do %>
          <div class="modal-icon">
            <%= doc_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.small_pelagic_survey.form.title") %></b>
            <br />
            <small><%= t("modal.download.small_pelagic_survey.form.text") %></small>
          </div>
        <% end %>

        <br />
        <br />
        
        <%= link_to "/templates/SmallPelagic.FormB.pdf", title: "Small Pelagic Survey Form B" do %>
          <div class="modal-icon">
            <%= doc_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.small_pelagic_logbook.form.title") %></b>
            <br />
            <small><%= t("modal.download.small_pelagic_logbook.form.text") %></small>
          </div>
        <% end %>

        <hr>

        <h4>Sharks & Rays</h4>

        <%= link_to "/templates/SharksLandingSite.template.xlsx", title: "Sharks & Rays Landing Site Survey template" do %>
          <div class="modal-icon">
            <%= excel_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.shark_survey.spreadsheet.title") %></b>
            <br />
            <small><%= t("modal.download.shark_survey.spreadsheet.text") %></small>
          </div>
        <% end %>
        
        <br />
        <br />

        <%= link_to "/templates/SharksLogbook.template.xlsx", title: "Sharks & Rays Logbook template" do %>
          <div class="modal-icon">
            <%= excel_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.shark_logbook.spreadsheet.title") %></b>
            <br />
            <small><%= t("modal.download.shark_logbook.spreadsheet.text") %></small>
          </div>
        <% end %>

        <br />
        <br />

        <%= link_to "/templates/SharksLandingSite.Form.pdf", title: "Sharks & Rays Survey Form A" do %>
          <div class="modal-icon">
            <%= doc_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.shark_survey.form.title") %></b>
            <br />
            <small><%= t("modal.download.shark_survey.form.text") %></small>
          </div>
        <% end %>

        <br />
        <br />

        <%= link_to "/templates/SharksLogbook.Form.pdf", title: "Sharks & Rays Survey Form B" do %>
          <div class="modal-icon">
            <%= doc_icon %>
          </div>
          <div class="modal-text">
            <b><%= t("modal.download.shark_logbook.form.title") %></b>
            <br />
            <small><%= t("modal.download.shark_logbook.form.text") %></small>
          </div>
        <% end %>

        <br />
        <br />

      </div>
      <div class="modal-footer">
        <%= link_to "Close", "#", class:"btn", data: {dismiss: "modal"}, aria: {hidden: "true"} %>
      </div>
    </div>
  </div>
</div>