<!DOCTYPE html>
<html>
  <head>
    <title><%= yield (:title) || "" %> | I-Fish</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <%= render partial: "layouts/navbar" %>
    <div class="container-fluid" style="margin-top:61px">
      <div class="flash-container"><%= render partial: "shared/flash_messages" %></div>
      <%= render partial: "shared/model_error_messages" %>
      <% if content_for? :title %>
        <div class="page-header">
          <h1><%= yield (:title) || "FishStat" %> <small><%= yield (:subtitle) || "" %></small></h1>
        </div><!-- page-header -->
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <%= yield :scripts %>
      <% if false %>
        <%= javascript_include_tag(
          "http://code.highcharts.com/stock/highstock.js", 
          "http://code.highcharts.com/highcharts-more.js", 
          "http://code.highcharts.com/stock/modules/exporting.js"
          )
        %>
      <% end %>
      <%= render partial: "layouts/ganalytics" %> 

      <% if admin_signed_in? %>
        <%= render partial: "layouts/tour" %> 
      <% end %>
      
    </footer>
  </body>
  <% unless admin_signed_in? || user_signed_in? %>
    <%= render partial: 'layouts/modal_signup' %>
    <%= render partial: 'layouts/modal_signin' %>
  <% end %>
</html>
