<!DOCTYPE html>
<html>
  <head>
    <title><%= yield (:title) || "" %> | I-Fish</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <%= render partial: "layouts/navbar" %>
    <div class="container-fluid" style="margin-top:50px">
      <div class="flash-container"><%= render partial: "shared/flash_messages" %></div>
      <%= render partial: "shared/model_error_messages" %>
      <div class="page-header">
        <h1><%= yield (:title) || "FishStat" %></h1>
      </div><!-- page-header -->
      <%= yield %>
      <% unless admin_signed_in? || user_signed_in? %>
        <div class="pull-right">
          Admins: 
          <%= link_to "Sign up", new_admin_registration_path, class: 'navbar-link'  %> |
          <%= link_to "Sign in", new_admin_session_path, class: 'navbar-link'  %>
        </div>
      <% end %>
    </div>
    <footer>
      <%= yield :scripts %>
      <%= javascript_include_tag(
        "http://code.highcharts.com/stock/highstock.js", 
        "http://code.highcharts.com/highcharts-more.js", 
        "http://code.highcharts.com/stock/modules/exporting.js"
        )
      %>
      <%= render partial: "layouts/ganalytics" %> 
      <%= render partial: "layouts/tour" %> 
      
    </footer>
  </body>
  <%= render partial: 'layouts/templates_modal' %>
</html>
