<!DOCTYPE html>
<html>
  <head>
    <title><%= yield (:title) || "" %> | FishPanel</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar" class="signin-container">
    <%= render partial: "layouts/navbar" %>
    <div class="container-fluid" style="margin-top:50px">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 well signin-panel">
          <div class="flash-container"><%= render partial: "shared/flash_messages" %></div>
          <%= render partial: "shared/model_error_messages" %>
          <div class="page-header">
            <h3><%= yield (:title) || "FishStat" %></h3>
          </div><!-- page-header -->
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <%= yield :scripts %>
    </footer>
  </body>

  <% unless admin_signed_in? || user_signed_in? %>
    <%= render partial: 'layouts/modal_signup' %>
    <%= render partial: 'layouts/modal_signin' %>
  <% end %>
</html>
